<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>先进典型 </title>
    <link href="lefont.css"  rel="stylesheet"
        type="text/css">
    <link href="ledivs.css"  rel="stylesheet"
        type="text/css">
    <style>
   .make-program{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: cornflowerblue;
    padding:6px 14px;
    border-radius: 6px;
    color:#fff;
    font-weight: bold;
    font-size: 14px;
    color: #fff!important;
    font-family: "microsoft yahei";
  }
  .make-program:hover{
    color: #fff;
    background-color: #5582d4;
    text-decoration: none;
  }
  .make-program:active{
    font-size: 15px;
  }
</style>
</head>

<body>
    <a class="make-program" href="/view/publish/new.jsp?startStep=2&title=uri&url=/view/faker/xjdx/1.htm">
                     节目制作
                    </a>
    <div class="bodybox">

        <div class="allframe" style="padding-top:150px;">
            <div class="box1000">
                <div class="box950">
              
                    <div class="cont_title">夏静：防汛排涝战线上“风一样的女汉子”</div>
                    <div class="cont_txt">
                        <!--enpcontent-->
                        
                        <center>
                            <img id="5706539" title="" style="WIDTH: 270px; HEIGHT: 176px;margin-bottom:15px;" src="1.jpg; " 
                                align="center" border="0" />
                        </center>
                        
                        <p >路面积水、城市内涝、道路塌陷……</p>
                        <p >这些和百姓息息相关的城市顽疾，都与地下管道是否畅通有关。所以大家都称，地下管道是一座城市的良心。</p>
                        <p >有那么一个女汉子，为了杭州的“城市良心”，默默奋斗了10多年。</p>
                        <p >她叫夏静，目前是杭州市城管委市政设施监管中心排水监管科副科长，人如其名，长得文静优雅，但干起事来却风风火火。</p>
                        <p >两年前，夏静成为城西防汛排涝整治工作的联系人，白天经常穿梭在各项工程之间，晚上和周末还要加班伏案写材料。最近，她又有了新重任，为了迎接G20峰会的顺利召开，她开始日夜忙碌于负责协调西湖景区地下管网全面检测的工作之中。</p>
                        <p >“女汉子”夏静笑言，这个工作虽然琐碎而忙碌，但却很重要，她愿意继续好好干。</p>
                        <p >
                            <strong>防汛排涝战线上的女汉子</strong>
                        </p>
                        <p >采访中，记者见到一张照片，让人很吃惊。</p>
                        <p >照片中的夏静穿着橡皮服，头戴安全帽，踩着竹梯往雨水管内爬。拍摄的时间是2014年5月2日，节假日。</p>
                        <p >原来，2013年“菲特”台风后，城西的天目山路延伸段积水治理工程，夏静是项目主联系人，工程前后4个月，她几乎每天都在加班。其实，她本不用亲自下井，但为了精益求精，当天，她还是坚持下到雨水箱涵（管）内，检查清淤的情况。有同事这样评价夏静：“有句流行语叫‘我想做一个安静的美男子’，但她却是一个任劳任怨的女汉子，比男人还肯吃苦，不管不顾，风风火火。”</p>
                        <p >从2014年起，杭州市决定，将用三年时间开展防汛排涝工作。夏静作为市城管系统“五水共治”防汛排涝组成员，几乎把全部精力都献给了城市排水工作。白天，她需要指导西湖区防汛排涝工作，参与城西地区防汛排涝工程的现场检查、预验收和竣工验收，事无巨细。回到办公室还要加班加点，参与编制《杭州市防汛排涝三年行动计划》，起草汇报材料。</p>
                        <p >“白加黑，五加二”，这是几年来夏静的工作状态，别说是年休，连基本的节假日都不能保证。由于工作繁重、经常伏案撰写材料，导致她积劳成疾。2014年5月份，她腰疼得厉害，去医院检查，结果是因腰肌劳损患上了腰肌筋膜炎。但她从未请过病假，坚持边吃药边上班，始终把防汛工作放在第一位。</p>
                        <p >
                            <strong>G20要来了，她身负重任 </strong>
                        </p>
                        <p >G20峰会2016年在杭州召开，夏静更忙了，有时半夜都在工地。因为，一项重大的新任务落在了她肩上。</p>
                        <p >她负责的项目就是大家都关注的西湖景区，2015年年内，市政部门需要把景区所有地下管道大面积检查一遍，并积极整修，以防G20期间发生路面塌陷、路面积水等情况。</p>
                        <p >“西湖景区周边的地下管网，虽然日常都有养护，但结构性全面检查还是第一次。”夏静透露，这次景区地下管网的检修，借助了高科技的CCTV 管道视频检测系统。就是小车形状的“小机器人”爬到地下管道内去，再把影像传输到地面上的电脑上，有无问题一目了然。</p>
                        <p >记者了解到，为了不影响景区日常交通，景区地下管网检修的项目施工大半都在夜间，而且还要分路段一块块来检查，对项目组来说，非常辛苦。“我虽然不是具体的施工人员，但我也尽量晚上多跑跑，和大家多聊聊，多查查，了解项目进展情况，这样也放心。”夏静说，现在她每周都要在景区路段待上几个晚上。</p>
                        <p >
                            <strong>永不满足的好学生</strong>
                        </p>
                        <p >有些人可能觉得事业单位挺安逸，然而夏静却深感在社会竞争十分激烈的时代，“有技术走遍天下”。</p>
                        <p >所以，14年来，她一边工作，一边学习，永不满足。工作期间，不仅取得了同济大学给排水工程专业本科、同济大学道路工程专业硕士，还在工作实践中，善于将书本知识运用到市政设施管理工作中去，把理论与实践相结合。</p>
                        <p >多年来，她凭自学得来的理论和实践经验，编制了多部管理标准。如《杭州市城市排水管渠养护管理标准》《杭州市水井长效管理技术要求（试行）》等，还负责组织开展杭州市主城区排水设施全面调查，参与研究出台《杭州市主城区排水设施长效管理指导意见》《杭州市城区排水设施长效管理考核办法》等政府规范性文件。</p>
                        <p >不仅如此，夏静还在生活中潜移默化将排水知识传播给了身边的家人。夏静的妈妈已退休在家，如今算是义务的排水监督员，平时只要看到有人乱排放污水，马上就会上前制止，还会打电话给女儿，让她赶紧过来处理。10岁的女儿，今年小学四年级，雨水井、污水井、雨水篦等等专业术语都说得很溜。“因为我每次上街，都会对着地上的设施讲给她听，让孩子从小就掌握城市管网的基本知识，多长见识。”
                            夏静说。
                        </p>
                        <p >&nbsp;</p>
                        <!--enpproperty <articleid>6278003</articleid><date>2016-08-24 17:03:26:0</date><author>任彦</author><title>夏静：防汛排涝战线上“风一样的女汉子”</title><keyword></keyword><subtitle></subtitle><introtitle></introtitle><siteid>2</siteid><nodeid>145291</nodeid><nodename>最美杭州人 2015年寻找我们身边的先进典型</nodename><nodesearchname>最美杭州人 2015年寻找我们身边的先进典型</nodesearchname><picurl>http://z.hangzhou.com.cn/2016/xzwmxjdx/images/2016-08/24/7845c41ea8791927a7691c.jpg</picurl><url>http://z.hangzhou.com.cn/2016/xzwmxjdx/content/2016-08/24/content_6278003.htm</url><urlpad>null</urlpad><sourcename>中国文明网杭州站</sourcename><abstract></abstract><channel>1</channel>/enpproperty-->
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyend">
        </div>
        <div class="allframe" style="display:none;">
            <img src="bak_line.jpg"  width="1"
                height="1">
            <img src="bak_top.jpg"  width="1"
                height="1">
            <img src="bak_bottom.jpg"  width="1"
                height="1">
            <img src="photobak.png"  width="1"
                height="1">
        </div>
</body>

</html>
