<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>先进典型</title>

    <link href="lefont.css" rel="stylesheet" type="text/css">
    <link href="ledivs.css" rel="stylesheet" type="text/css">
    <style>
   .make-program{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: cornflowerblue;
    padding:6px 14px;
    border-radius: 6px;
    color:#fff;
    font-weight: bold;
    font-size: 14px;
    color: #fff!important;
    font-family: "microsoft yahei";
  }
  .make-program:hover{
    color: #fff;
    background-color: #5582d4;
    text-decoration: none;
  }
  .make-program:active{
    font-size: 15px;
  }
</style>
</head>

<body>
    <a class="make-program" href="/view/publish/new.jsp?startStep=2&title=uri&url=/view/faker/xjdx/2.htm">
                     节目制作
                    </a>
    <div class="topbar" style="display:none;">
        <div class="box1000">
            <div class="top_logo">


            </div>
            <div class="top_navg">
                <span>
                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    </table>
                </span>
            </div>
        </div>
    </div>
    <div class="bodybox">
        <div class="allframe" style="padding-top:150px;">
          
          
            <div class="box950">
                <div class="cont_title">仗义老街坊：合力抬车救老太</div>
                <div class="cont_txt">
                    <!--enpcontent-->
                   
                    <center>
                        <img id="5706495" title="" style="WIDTH: 195px; HEIGHT: 150px" src="2-1.jpg" align="center" border="0"
                        />
                        <img id="5706497" title="" style="WIDTH: 200px; HEIGHT: 150px" src="2-2.jpg" align="center" border="0"
                        />
                        <img id="5706499" title="" style="WIDTH: 196px; HEIGHT: 150px" src="2-3.jpg" align="center" border="0"
                        />
                        <img id="5706501" title="" style="WIDTH: 195px; HEIGHT: 150px" src="2-4.jpg" align="center" border="0"
                        />
                    </center>
                    <p>
                        <br/>
                    </p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“这块肉帮我剁碎点，过会来拿。”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“哪个鱼刺少一点？”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“师傅，鞋头开胶了，帮我看一下呗。”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">多么富有市井气息的话语，似乎每条寻常巷陌中，都有这么几个“老板”：他们经营着各自的生意，做的是老主顾的买卖，日子久了，就算他们不住在这里，人们也把他们当成了街坊。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">这些街坊都有啥大本事？没有谁说得明白。但是，有时候，偏偏是这些抬头不见低头见，普通到不能再普通的街坊，他们突然的“显山露水”能让人记一辈子。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">
                        <strong>仗义“男人帮”，抬车救老太</strong>
                    </p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">2015年12月19日上午8点多，天气不错，海潮路上的兴隆社区门口，老人们搬出凳子，围坐着，晒太阳拉家常。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">一辆车缓缓倒了过来，坐在路边的一位眼尖的大妈突然大叫起来： “别开了，停下，压到人了！”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">边上的汪师傅闻声望去，车底下真的有一双脚。他大步冲上前，猛拍车窗。“呲”的一声，车急刹停住了。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">呼救声、脚步声，小区的平静被打破了。被压的人还卡在车子的左侧两轮之间，怎么办？</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">抬车！十几个男人没多想，肩膀并到一起，喊着号子就开始卖力气。很快，车子左侧就被抬高了。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“你们屏牢！”一个男人撂下这句话，一个猫腰，钻到车底，把被压的人拉了出来。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">大伙认出来了，被压的是倪家的老太太，今年80多岁。刚才一起抬车的司机这会也醒过神来，之前倒车没注意，把遛弯的老人给撞倒了。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">老人的头部和手臂都擦破了，流了不少血，很快被120接走了。现场留下一条十多米的细长带血拖痕。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">小区居民说，幸亏倒车速度慢，车子底盘也高，加上老人本身身材瘦小，被救时还很清醒，应该没有伤到要害。 “</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">
                        <strong>男人帮”有谁？都是老街坊</strong>
                    </p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">小区门口的早餐摊上，汪师傅手里正端着刚出锅的面条。他就住在小区，发现险情时，他是打算来吃早饭的。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“就在这里，我一看是个老人，赶紧叫人帮忙。”汪师傅放下面碗，攥着筷子就带记者回到救人的地方，“也别光问我，我一个人哪里抬得动这么大的车子。”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">那还有谁“该出手时就出手”了？“喏，那边的肉老板、鱼老板，还有这边的麻糍师傅……”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">罗师傅正好在边上打着麻糍，他的摊位就在小区门口右侧，所以，他是第一个从门外赶过来的人。“能不能给我这小摊子打个广告啊？”罗师傅放下木槌，擦了把汗，和记者开起了玩笑，把周围的街坊都逗乐了。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">麻糍摊边上有家肉铺，是一对夫妻开的。“我老婆是个大嗓门，她一喊，哪个听不见。”肉老板项师傅笑着说，当时他正在剁肉馅，听到老婆喊人，撇下刀就赶过去了。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">项师傅一跑，街对面的鱼老板老徐也跟了上去，他还叫上了隔壁修鞋摊老板老邢。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“当时他刚刚给客人包好鱼，急着去帮忙，钱都忘记收了。”听见大伙寻自己的开心，老徐有些难为情，一双手在粘着鱼鳞的围裙上蹭了几下。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">大伙继续你一言我一语地说着。原来，还有一些参与救人的好汉已经走开了。但大伙都说，这条街上来来往往的，那就是熟人，出了大事，哪能袖手旁观？“这个事体再正常不过了……”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“你面吃不吃了？胀掉了……”面店老板娘一声叫，汪师傅这才回过神来，筷子还在手里，面忘记吃了……</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">
                        <strong>五十年邻里，一辈子情分</strong>
                    </p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">2015年12月19日下午1点，受伤的黄老太还在浙医二院的急诊室里。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">万幸，车子没对她造成碾压，她的面部有擦伤，左手拇指骨折，还有轻微颅内出血，没有生命危险，但还需要留院观察。下午3点，黄老太转入监护病房。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">记者把手机里那些好心街坊的照片给老太太女儿倪阿姨看，每一个她都认得。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“这不是阿威吗？从小玩到大的。”最先被认出来的是鱼老板老徐， “肉店老板、修鞋师傅，还有做麻糍的，他的摊子倒是摆过来没多少时间。”</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">倪阿姨说，自己出生在这条街上，一家人在这里已经住了半个世纪。说起街坊们抬车救人的事情，倪阿姨话里话外都是感动，但是，她没有感到意外。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">“都是老街坊了，谁家出点事，大伙帮把手，不都是这样的吗？” 话虽如此，但倪阿姨说，回家后，一定会挨家挨户去谢谢这些老街坊。</p>
                    <p style="MARGIN: 0px 3px 15px; TEXT-INDENT: 30px">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyend">
        <div class="box1000">
            <div class="span_h30"></div>
        
        </div>
    </div>
    <div class="allframe" style="display:none;">
        <img src="bak_line.jpg" width="1" height="1">
        <img src="bak_top.jpg" width="1" height="1">
        <img src="bak_bottom.jpg" width="1" height="1">
        <img src="photobak.png" width="1" height="1">
    </div>
</body>

</html>

