<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>先进典型</title>
	<meta name="Keywords" content="最美杭州人,2015年寻找我们身边的先进典型,文明杭州网,文明杭州标语">
	<link href="lefont.css" rel="stylesheet" type="text/css">
	<link href="ledivs.css" rel="stylesheet" type="text/css">

</head>
<body>

	<div class="bodybox">
		<div class="box1000">
			<div class="main_item_top">
				<img src="phototop.png" />
			</div>
			<div class="main_item" id="list">
				<dl>
					<dt>
						<a href="1.htm" >
							<img src="1.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="1.htm" > 夏静：防汛排涝战线上“风一样的女汉子”</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="2.htm" >
							<img src="2.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="2.htm" > 仗义老街坊：合力抬车救老太</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="3.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 基层干部风采：修志路上的“不眠人”</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="4.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 富阳协警：新320国道发生连环车祸，协警执行任务中不幸牺牲</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="5.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 江干公益人物：道德高地书写江干篇章</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="6.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 李勤爱：沿山河治理水污染有位民间“福尔摩斯”</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="7.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 童金生：只为百姓房前那一抹清波</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="8.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 杭州市民的爱心接力：幸运姑娘的骨髓移植配型成功找到</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="9.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 被善良的杭州市民关心的庆春路上卖鞋垫的老奶奶</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="" >
							<img src="10.jpg" border="0"> </a>
					</dt>
					<dd>
						<a href="" > 徐天鹄：挽救杭州评书</a>
					</dd>
				</dl>

			</div>
			<script> 
				function del4margin(x) {
					var ObjLi = document.getElementById("list").getElementsByTagName("dl");
					for (var i = 1; i <= ObjLi.length; i++) {
						if (i % x == 0 && i !== 0) {
							ObjLi[i - 1].style.background = "";
							ObjLi[i - 1].style.marginRight = "0";
						}
					}
				}
				window.onload = del4margin(5); //传入参数5，去掉第4个li的外边距
			</script>
		</div>
	</div>
	<div class="bodyend">
		<div class="box1000">
			<div class="main_item_btm">
				<img src="photobottom.png" />
			</div>
		</div>
	</div>
	<div class="allframe" style="display:none;">
		<img src="bak_line.jpg" width="1" height="1">
		<img src="bak_top.jpg" width="1" height="1">
		<img src="bak_bottom.jpg" width="1" height="1">
		<img src="photobak.png" width="1" height="1">
	</div>
</body>

</html>