<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b3cjGm4GiaI1GzcYKjil0fyrP7qHL9eL"></script>

    <link rel="import" href="/html/include/vb.html">
    <link rel="import" href="/html/include/fc.html">
    <link rel="import" href="/html/include/vc.html">
    <link rel="import" href="/html/include/db.html">
    <link href="/assets/module/terminal/terminal-control.css" rel="stylesheet">

    <title>终端管理界面</title>
</head>

<body>
    <div id="app">
        <div id="toolbar">
            <el-row>
                <el-col :span="24">
                    <el-menu :default-active="tqueryIf.online=='1'?'1':'2'" class="el-menu-demo" mode="horizontal">
                        <el-menu-item index="-1" class="t-title" disabled>终端情况: </el-menu-item>
                        <el-menu-item index="1" @click="changeSearch(1)">
                            <i class="el-icon-check online-icon"></i>正常 ({{onlineCount.online?onlineCount.online:0}})</el-menu-item>
                        <el-menu-item index="2" @click="changeSearch(0)">
                            <i class="el-icon-close offline-icon"></i> 终端不在线 ({{onlineCount.offline?onlineCount.offline:0}})</el-menu-item>
                        <el-menu-item index="-3" class="t-title" disabled>
                            <el-button-group class="control-button">
                                <el-button size="small" :type="!dis_h_v?'primary':''" icon="el-icon-menu" @click="dis_h_v=false"></el-button>
                                <el-button size="small" :type="dis_h_v?'primary':''" icon="el-icon-tickets" @click="dis_h_v=true"></el-button>
                            </el-button-group>
                        </el-menu-item>
                        <el-menu-item index="-2" :style="{'float':'right'}" class="t-title" disabled>
                            <el-pagination class="pagebar" :current-page="tpager.current" :page-sizes="[10, 20, 30]" :page-size="tpager.size" layout="total, sizes, prev, pager, next, jumper"
                                :total="tpager.total" @size-change="handleSizeChange" @current-change="handleCurrentChange">
                            </el-pagination>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </div>
        <div id="terminalDisplay">
            <div v-if="dis_h_v">
                <table class="table   table-hover">
                    <thead>
                        <th>屏幕截图</th>
                        <th>硬件信息</th>
                        <th>软件信息</th>
                        <th>地理位置信息</th>
                        <th>控制</th>
                    </thead>
                    <tbody>
                        <template v-for="t in terminals">
                            <tr :class="t.online=='1' ? 'online':'offline'">
                                <td>
                                    <div class="screenshoot-h">
                                        <img src="/assets/img/program-test.jpg" class="image">
                                    </div>
                                </td>
                                <td>
                                    <table class="disInfo">
                                        <tr>
                                            <td>设备名 </td><td>：</td>
                                            <td>{{t.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>屏幕尺寸 </td><td>：</td>
                                            <td>{{t.size}}</td>
                                        </tr>
                                        <tr>
                                            <td>分辨率 </td><td>：</td>
                                            <td>{{t.ratio}}</td>
                                        </tr>
                                        <tr>
                                            <td>屏幕类型</td><td>：</td>
                                            <td>{{t.rev}}</td>
                                        </tr>
                                        <tr>
                                            <td>触摸屏 </td><td>：</td>
                                            <td>{{t.typ}}</td>
                                        </tr>
                                        <tr>
                                            <td>是否在线 </td><td>：</td>
                                            <td>
                                                <el-tag size="small" :type="t.online == '1'?'success':'danger'">{{t.online == '1' ? '是':'否'}}</el-tag>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                                <td>
                                    <table class="disInfo">
                                        <tr>
                                            <td>当前节目</td>
                                            <td>：</td>
                                            <td>暂无数据</td>
                                        </tr>
                                        <tr>
                                            <td>操作系统</td>
                                            <td>：</td>
                                            <td>{{t.sys}}</td>
                                        </tr>
                                        <tr>
                                            <td>IP</td>
                                            <td>：</td>
                                            <td>{{t.ip}}</td>
                                        </tr>
                                        <tr>
                                            <td>MAC</td>
                                            <td>：</td>
                                            <td>{{t.mac}}</td>
                                        </tr>
                                        <tr>
                                            <td>版本</td>
                                            <td>：</td>
                                            <td>{{t.ver}}</td>
                                        </tr><tr>
                                                <td>心跳时间</td><td>：</td>
                                                <td>{{getDateTimeInfo(t.last_time)}}</td>
                                            </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="disInfo">
                                        <tr>
                                            <td>位置</td>
                                            <td>：</td>
                                            <td>{{t.addr}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gis</td>
                                            <td>：</td>
                                            <td>{{t.gis}}</td>
                                        </tr>
                                        <tr>
                                            <td>保修状态</td>
                                            <td>：</td>
                                            <td>
                                                <el-tag type="success" size="small">{{t.warranty}} 未过保</el-tag>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>区域</td>
                                            <td>：</td>
                                            <td>{{t.loc}}</td>
                                        </tr>
                                        <tr>
                                            <td>联系电话</td>
                                            <td>：</td>
                                            <td>{{t.tel}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <div class="bottom-h">
                                        <el-button type="button" size="mini" class="button" @click="openTerminalController(t)">控制</el-button>
                                        <br/>
                                        <el-button type="button" size="mini" class="button" @click="openTerminalProgram(t)">节目</el-button>
                                        <br/>
                                        <el-button type="button" size="mini" class="button" @click="openTerminalLog(t)">日志</el-button>
                                        <br/>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div v-if="!dis_h_v">
                <template v-for="t in terminals">
                    <el-card class="termialDis" :class="t.online=='1' ? 'online':'offline'" :body-style="{ padding: '0px' }">
                        <div class="deviceInfo">
                            <span class="name">{{t.name}}</span>
                            <span class="size">{{t.size}}</span>
                        </div>
                        <div class="screenshoot">
                            <img src="/assets/img/program-test.jpg" class="image">
                            <div class="ratio">{{t.ratio}}</div>
                        </div>
                        <div class="control" style="">
                            <table class="disInfo">
                                <tr>
                                    <td>当前节目</td>
                                    <td>：</td>
                                    <td>暂无节目</td>
                                </tr>
                                <tr>
                                    <td>屏幕类型</td>
                                    <td>：</td>
                                    <td>{{t.rev}}</td>
                                </tr>
                                <tr>
                                    <td>所在位置</td>
                                    <td>：</td>
                                    <td>
                                        <el-tooltip class="item" effect="dark" :content="t.addr" placement="top-start">
                                            <p class="disInfo-overflow" style="">{{t.addr}}</p></td>
                                        </el-tooltip>
                                </tr>
                            </table>
                            <div class="bottom clearfix">
                                <el-button type="button" size="mini" class="button" @click="openTerminalController(t)">控制</el-button>
                                <el-button type="button" size="mini" class="button" @click="openTerminalProgram(t)">节目</el-button>
                                <el-button type="button" size="mini" class="button" @click="openTerminalLog(t)">日志</el-button>
                            </div>
                        </div>
                    </el-card>
                </template>
            </div>
        </div>
        <!--dialog-->
        <el-dialog :title="tcw.title" :visible.sync="tcw.visiable" :fullscreen="tcw.fullscreen" :width="tcw.fullscreen?'100%':'70%'">
            <div slot="title">
                <span class="el-dialog__title"> {{tcw.title}}</span>
                <el-button-group style="margin-left:30px;">
                    <el-button size="small" icon="el-icon-rank" @click="tcw.fullscreen=!tcw.fullscreen" title="最大"></el-button>
                </el-button-group>
            </div>
            <div class="command-list">
                <template v-for="control in controlList">
                    <a class="action" :class="control.checked ? 'active':''" id="start" @click="SendCommand(control)">
                        <i :class="control.icon" aria-hidden="true"></i>
                        <div class="start">{{control.label}}</div>
                    </a>
                </template>
            </div>
        </el-dialog>
        <el-dialog :title="tlw.title" :visible.sync="tlw.visiable" :fullscreen="tlw.fullscreen" :width="tlw.fullscreen?'100%':'70%'">
            <div slot="title">
                <span class="el-dialog__title"> {{tlw.title}}</span>
                <el-button-group style="margin-left:30px;">
                    <el-button size="small" icon="el-icon-rank" @click="tlw.fullscreen=!tlw.fullscreen" title="最大"></el-button>
                </el-button-group>
            </div>
            <el-menu :default-active="selectLogType" class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1" @click="selectLogType='1'"> 终端执行日志 </el-menu-item>
                <el-menu-item index="2" @click="selectLogType='2'"> 终端操作日志 </el-menu-item>
                <el-menu-item index="-2" :style="{'float':'right'}" class="t-title" disabled>
                    <el-pagination v-show="selectLogType=='1'" class="pagebar" :current-page="extPager.current" :page-sizes="[10, 20, 30]" :page-size="extPager.size" layout="total, sizes, prev, pager, next, jumper"
                            :total="extPager.total" @size-change="logHandleSizeChange" @current-change="logHandleCurrentChange">
                        </el-pagination>
                    <el-pagination v-show="selectLogType=='2'" class="pagebar" :current-page="optPager.current" :page-sizes="[10, 20, 30]" :page-size="optPager.size" layout="total, sizes, prev, pager, next, jumper"
                        :total="optPager.total" @size-change="logHandleSizeChange" @current-change="logHandleCurrentChange">
                    </el-pagination>
                </el-menu-item>
            </el-menu>
            <el-container>
                <el-main>
                    <div v-show="selectLogType=='1'">
                        <!--执行-->
                        <template>
                            <el-table :data="extLogs" style="width: 100%" v-loading.lock="extPager.loading">
                                <el-table-column label="日志ID" prop="pkId" width="100">
                                </el-table-column>
                                <el-table-column label="指令名称" prop="name" width="180">
                                </el-table-column>
                                <el-table-column label="发送时间" width="180">
                                    <template slot-scope="scope">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.sendtime | datetime }}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="反馈时间" width="180">
                                    <template slot-scope="scope">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.acesstime | datetime }}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="执行状态" prop="status" width="150">
                                </el-table-column>
                                <el-table-column label="接收信息" prop="remark">
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div v-show="selectLogType=='2'">
                            <!--操作日志-->
                            <template>
                                <el-table :data="optLogs" style="width: 100%" v-loading.lock="optPager.loading">
                                    <el-table-column label="日志ID" prop="pkId" width="100">
                                    </el-table-column>
                                    <el-table-column label="操作用户" prop="userName" width="150">
                                    </el-table-column>
                                    <el-table-column label="操作机器IP" prop="ip" width="180">
                                    </el-table-column>
                                    <el-table-column label="操作时间" width="180">
                                        <template slot-scope="scope">
                                            <div slot="reference" class="name-wrapper">
                                                {{ scope.row.createTime | datetime }}
                                            </div>
                                        </template>
                                    </el-table-column>
                                   
                                    <el-table-column label="操作信息描述" prop="remark">
                                    </el-table-column>
                                </el-table>
                            </template>
                        </div>
                </el-main>
            </el-container>
        </el-dialog>
        <el-dialog :title="pgw.title" :visible.sync="pgw.visiable" :fullscreen="pgw.fullscreen" :width="pgw.fullscreen?'100%':'70%'">
            <div slot="title">
                <span class="el-dialog__title"> {{pgw.title}}</span>
                <el-button-group style="margin-left:30px;">
                    <el-button size="small" icon="el-icon-menu" @click="prg_dis_h_v=false" :type="!prg_dis_h_v?'primary':''"></el-button>
                    <el-button size="small" icon="el-icon-tickets" @click="prg_dis_h_v=true" :type="prg_dis_h_v?'primary':''"></el-button>
                    <el-button size="small" icon="el-icon-rank" @click="pgw.fullscreen=!pgw.fullscreen" title="最大"></el-button>
                </el-button-group>
            </div>

            <div v-if="prg_dis_h_v">
                <table class="table table-board">
                    <thead>
                        <th>节目封面</th>
                        <th>节目信息</th>
                        <th>播放模式</th>
                        <th>控制</th>
                    </thead>
                    <tbody>
                        <template v-for="t in tprograms">
                            <tr class="termialDis-table">
                                <td  >
                                    <div class="screenshoot">
                                        <img :src="t.coverImageUrl" class="image">
                                        <div class="ratio">{{t.ratio}}</div>
                                    </div>
                                </td>
                                <td>
                                    <table class="disInfo">
                                        <tr>
                                            <td>节目名称 </td> <td>：</td>
                                            <td>{{t.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>发布类型 </td> <td>：</td>
                                            <td>
                                                <span v-html="t.publishTypeStr"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>发布人 </td> <td>：</td>
                                            <td>{{t.userName}}</td>
                                        </tr>
                                        <tr>
                                            <td>发布时间</td> <td>：</td>
                                            <td>{{t.createTime}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="disInfo">
                                        <tr>
                                            <td>播放时间 </td> <td>：</td>
                                            <td>
                                                <span v-html="t.playTime"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>有效日期 </td> <td>：</td>
                                            <td>{{t.activeTime}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <div class="bottom-h">
                                        <el-button type="danger" size="mini" class="button" @click="cancelTerminalProgram(t)">移除</el-button>
                                        <br/>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div v-if="!prg_dis_h_v">
                <template v-for="t in tprograms">
                    <el-card class="termialDis" :body-style="{ padding: '0px' }">
                        <div class="deviceInfo">
                            <span class="name">{{t.name}}</span>
                        </div>
                        <div class="screenshoot">
                            <img :src="t.coverImageUrl" class="image">
                            <div class="ratio">{{t.ratio}}</div>
                        </div>
                        <div class="control">
                            <table class="disInfo">
                                <tr>
                                    <td>发布类型 </td> <td>：</td>
                                    <td>
                                        <span v-html="t.publishTypeStr"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>发布人 </td> <td>：</td>
                                    <td>{{t.userName}}</td>
                                </tr>
                                <tr>
                                    <td>发布时间</td> <td>：</td>
                                    <td>{{t.createTime}}</td>
                                </tr>
                            </table>
                            <div class="bottom clearfix">
                                <el-button type="danger" size="mini" class="button" @click="cancelTerminalProgram(t)">移除</el-button>
                            </div>
                        </div>
                    </el-card>
                </template>
            </div>
        </el-dialog>
        <!--dialog-->
    </div>
</body>

<script>
    window.appInstince = new Vue({
        el: '#app',
        data: {
            optLogs: [],
            extLogs: [],
            optPager: {
                loading:false,
                total: 0,
                current: 1,
                size: 10
            },
            extPager: {
                loading:false,
                total: 0,
                current: 1,
                size: 10
            },
            selectLogType: '1',
            prg_dis_h_v: false,
            dis_h_v: false,
            terminals: [], //终端数据
            tprograms: [], //终端节目数据
            logs: [],
            tpager: {
                total: 0,
                current: 1,
                size: 10
            },
            onlineCount: {},
            tqueryIf: {
                online: '1'
            },
            pgw: {
                title: '',
                visiable: false,
                terminal: null,
                fullscreen: false
            },
            tcw: {
                title: '终端控制指令下发',
                visiable: false,
                terminal: null,
                fullscreen: false
            },
            tlw: {
                title: '日志信息',
                visiable: false,
                terminal: null,
                fullscreen: false
            },
            controlList: [{
                type: 'play',
                label: '开始播放',
                opt: '1',
                icon: 'fa fa-play-circle',
                checked: false
            }, {
                type: 'play',
                label: '停止播放',
                opt: '0',
                icon: 'fa fa-stop-circle-o',
                checked: false
            }, {
                type: 'volume',
                label: '音量+',
                opt: '1',
                icon: 'fa fa-volume-up',
                checked: false
            }, {
                type: 'volume',
                label: '音量-',
                opt: '0',
                icon: 'fa fa-volume-down',
                checked: false
            }, {
                type: 'volume',
                label: '静音',
                opt: '2',
                icon: 'fa fa-volume-off',
                checked: false
            }, {
                type: 'volume',
                label: '取消静音',
                opt: '3',
                icon: 'fa fa-volume-up',
                checked: false
            }, {
                type: 'screenshot',
                label: '截屏',
                opt: '600|600',
                icon: 'fa fa-scissors',
                checked: false
            }, {
                type: 'ocscreen',
                label: '打开播放器',
                opt: '1',
                icon: 'fa fa-power-off',
                checked: false
            }, {
                type: 'ocscreen',
                label: '关闭播放器',
                opt: '0',
                icon: 'fa fa-times-circle',
                checked: false
            }, {
                type: 'wakelock',
                label: '打开显示屏',
                opt: '1',
                icon: 'fa fa-television',
                checked: false
            }, {
                type: 'wakelock',
                label: '关闭显示屏',
                opt: '0',
                icon: 'fa fa-window-close',
                checked: false
            }, {
                type: 'cleardata',
                label: '清空数据',
                opt: '1',
                icon: 'fa fa-trash-o',
                checked: false
            }, {
                type: 'refresh',
                label: '刷新页面',
                opt: '1',
                icon: 'fa fa-refresh',
                checked: false
            }, {
                type: 'version',
                label: '显示版本',
                opt: '1',
                icon: 'fa fa-info-circle',
                checked: false
            }, {
                type: 'version',
                label: '关闭版本显示',
                opt: '0',
                icon: 'fa fa-times',
                checked: false
            }, {
                type: 'upgrade',
                label: '升级',
                opt: '0',
                icon: 'fa fa-cloud-upload',
                checked: false
            }, {
                type: 'shutdown',
                label: '关机',
                opt: '1',
                icon: 'fa fa-toggle-off',
                checked: false
            }, {
                type: 'reboot',
                label: '重启',
                opt: '1',
                icon: 'fa fa-repeat',
                checked: false
            }]

        },
        mounted() {
            this.loadTeminalInfo();
        },
        methods: {
            loadTeminalInfo() {
                let me = this;
                let url = '/terminal/basic/queryInfo/' + this.tpager.current + '-' + this.tpager.size;
                ajax_json_promise(url, 'post', this.tqueryIf).then((result) => {
                    if (result.data) {
                        me.tpager.total = result.data.total;
                        me.terminals = result.data.list;
                    } else {
                        me.tpager.total = 0;
                        me.terminals = [];
                    }
                    me.onlineCount = result.online;
                });
            },
            loadTerminalLogs() {
                let me = this;
                ajax_promise('/terminal/logs', 'post').then(result => {
                    me.logs = result.data;
                })
            },
            openTerminalController(tm_info) {
                this.controlList.map((c) => {
                    c.checked = false;
                });
                this.tcw.terminal = tm_info;
                this.tcw.visiable = true;
                this.tcw.title = tm_info.name + ' 控制指令';
            },
            openTerminalProgram(tm_info) {
                let me = this;
                this.pgw.visiable = true;
                this.pgw.title = tm_info.name + ' 节目列表';
                this.pgw.terminal = tm_info;
                let url = '/terminal/control/' + tm_info.id + '/program';
                ajax_promise(url, 'get').then(result => {
                    me.tprograms = result.data;
                });
            },
            openTerminalLog(tm_info) {
                this.tlw.terminal = tm_info;
                this.tlw.visiable = true;
                this.tlw.title = tm_info.name + ' 日志信息';

                this.loadOptLog();
                this.loadExtLog();
            },
            //取消发布节目
            cancelTerminalProgram(t) {
                let me = this;
                let url = '/terminal/control/' + this.pgw.terminal.id + '/program/' + t.pkId;
                ajax_promise(url, 'delete').then((result) => {
                    if (result.status) {
                        this.$message({
                            message: '成功取消发布节目',
                            type: 'success'
                        });
                    }
                });
            },
            SendCommand(control) {
                this.controlList.map((c) => {
                    c.checked = false;
                });
                control.checked = true;
                let tid = this.tcw.terminal.id
                let cmd = {
                    commandName: control.label,
                    command: control.type,
                    commandContent: control.opt,
                    screenId: tid
                };
                let url = '/terminal/control/' + tid + '/command';
                ajax_json_promise(url, 'post', cmd).then(result => {
                    if (result.status) {
                        this.$message({
                            message: '已送指令: ' + control.label,
                            type: 'success'
                        });
                    }
                });
            },
            level_dis(target) {
                if (target.level == 'DEBUG') return '';
                if (target.level == 'INFO') return 'info';
                if (target.level == 'WARN') return 'warning';
                if (target.level == 'ERROR') return 'danger';
                if (target.level == 'FATAL') return 'danger';
                return '';
            }, //计算 时间信息
            getDateTimeInfo(dt) {
                if (!dt) return '未知';
                return timeAgo(new Date(dt));
            },
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.tpager.size = val;
                this.loadTeminalInfo();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.tpager.current = val;
                this.loadTeminalInfo();
            },
            changeSearch(type) {
                this.tqueryIf.online = type;
                this.loadTeminalInfo();
            },
            getImgUrl(str) {
                let pt = /img\W+src=[\"]+([\/\-\.\w]+)+/
                var group = str.match(pt);
                return group[1];
            },
            loadExtLog() {
                let terminal = this.tlw.terminal;
                let pager = this.extPager;
                pager.loading = true;
                let url = '/terminal/control/' + terminal.id + '/executelog/' + pager.current + '-' + pager.size;
                ajax_promise(url, 'get').then(result => {
                    pager.loading = false;
                    let data = result.data;
                    let pg = result.pager;
                    if(pg)pager.total = pg.total;
                    this.extLogs = data;
                });
            },
            loadOptLog() {
                let terminal = this.tlw.terminal;
                let pager = this.optPager;
                pager.loading = true;
                let url = '/terminal/control/' + terminal.id + '/operatelog/' + pager.current + '-' + pager.size;
                ajax_promise(url, 'get').then(result => {
                    pager.loading = false;
                    let data = result.data;
                    let pg = result.pager;
                    if(pg)pager.total = pg.total;
                    this.optLogs = data;
                });
            }
            ,
            logHandleSizeChange(val) {
                if(this.selectLogType=='1'){//执行日志
                    this.extPager.size = val;
                    this.loadExtLog();
                }
                else if(this.selectLogType=='2'){//操作日志
                    this.optPager.size = val;
                    this.loadOptLog();
                }
            },
            logHandleCurrentChange(val) {
                if(this.selectLogType=='1'){//执行日志
                    this.extPager.current = val;
                    this.loadExtLog();
                }
                else if(this.selectLogType=='2'){//操作日志
                    this.optPager.current = val;
                    this.loadOptLog();
                }
            }
        }
    });
</script>

</html>