#app {
  margin: 5px 10px;
}
.el-tabs__header {
  margin: 0;
  padding-top: 10px;
}
.el-main {
  padding: 0;
}
.header p {
  display: inline-block;
}
.header .el-pagination {
  float: right;
}
.summary {
  width: 100%;
}
