<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Language" content="utf-8" />
  <title>红船听涛：传承和弘扬红色基因</title>
  <link href="page.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
  <!--top-->

  <div class="p2j_con03 clearfix w1000">
    <div class="text_con text_con01">
      <div class="text_c">
        <h3 id="jtitle"></h3>
        <h1>红船听涛：传承和弘扬红色基因</h1>
        <h2 id="ftitle"></h2>
        <p class="sou1"></p>
        <!--结束提示-->
        <!--正文图-->
        <div class="text_img"></div>
        <!--结束正文图-->
        <div class="show_text">
          <p style="text-indent: 2em;">
            习近平总书记强调，红色基因就是要传承。中华民族从站起来、富起来到强起来，经历了多少坎坷，创造了多少奇迹，要让后代牢记，我们要不忘初心，永远不可迷失了方向和道路。</p>
          <p style="text-indent: 2em;">
            红色基因是共产党人永葆本色的生命密码。红色基因根植于共产党人的血脉之中，成为共产党人的遗传因子。红色基因体现了共产党人的身份自信和使命担当。新时代传承和弘扬红色基因，就要求共产党人不忘初心、牢记使命，巩固坚定理想信念宗旨根基，永葆党的性质、宗旨、本色。</p>
          <p style="text-indent: 2em;">
            红色基因伴随共产主义的传播以及中国共产党人的诞生而产生。共产党人不断壮大、不断成熟的革命历史过程中，红色基因得到了锤炼和强化。正义的战场战斗中，抛头颅、洒热血，铸就红色基因的鲜红血色。艰苦的革命岁月里，嚼草根、吃树皮，锤炼红色基因的顽强斗志。前进的革命道路上，涉险滩、闯难关，强大红色基因的抗御能力。胜利的革命旗帜上，闪五星、耀党徽，凝结红色基因的民心党性。</p>
          <p style="text-indent: 2em; text-align: center;">
            <strong>红色基因发源于共产党人的坚定信仰</strong>
          </p>
          <p style="text-indent: 2em;">
            马克思主义信仰是共产党人的灵魂。共产党人之所以从一个胜利走向一个新的胜利，就是因为具有坚定的革命理想信念。习近平总书记指出：“长征是一次理想信念的伟大远征”“长征的胜利，是中国共产党人理想的胜利，是中国共产党人信念的胜利”。一代又一代共产党人为了追求民族独立和人民解放，不惜流血牺牲，靠的就是对马克思主义的坚定信仰。</p>
          <p style="text-indent: 2em;">
            不论生存环境怎么险恶，不论前进的道路有多艰难。勇往直前是共产党人红色基因不断强大的精神气魄。艰苦卓绝的革命岁月磨炼共产党人的革命斗志，锤炼共产党人红色基因的坚强品性。长征锻造了钢铁般的红军和干部，长征强大了红色基因的顽强生命力。长征是“播种机”，播撒了红色基因的种子。红色基因的种子不论撒落在条件多么恶劣的自然环境中，都能以顽强的生命力生根发芽，成长为参天大树。坚定的马克思主义信仰使得共产党人不忘祖、不忘本。红色基因造就了坚定的马克思主义者。</p>
          <p style="text-indent: 2em; text-align: center;">
            <strong>红色基因凝结于共产党人的民心党性</strong>
          </p>
          <p style="text-indent: 2em;">
            民心向背是取得革命胜利和巩固执政基础的决定性因素。密切联系群众是获得民心和增强党性的根本方法。密切联系群众是共产党人的制胜法宝和优良传统。红色基因根植于党和人民血肉联系之中。</p>
          <p style="text-indent: 2em;">
            党的十八大以来，以习近平同志为核心的党中央以八项规定为肇始，以作风建设为突破口，驰而不息纠正“四风”，开展党的群众路线教育实践活动、“三严三实”专题教育、“两学一做”学习教育，全面从严治党取得卓著成效，全党气象更新，深得党心民心，密切了党同人民群众的血肉联系，等等，对于传承红色基因具有重要的现实意义和深远的历史意义。</p>
          <p style="text-indent: 2em;">
            红色基因体现了共产党人坚守把人民放在心中最高位置的精神坐标。红色基因确保共产党人始终坚持来自人民、植根人民、服务人民的政治立场和党性要求。革命为了人民、建设为了人民、改革为了人民，坚持以人民为中心的思想体现了党性与人民性的有机统一。共产党人的初心和使命彰显了“除了人民的利益，没有特殊的利益”的党性要求。</p>
          <p style="text-indent: 2em;">
            党的十九大报告指出，中国共产党人的初心和使命，就是为中国人民谋幸福，为中华民族谋复兴。红色基因要在共产党人身上永续存在、代代相传，必须坚持以人为本的核心理念，遵循以民为本的实践要求，保持党同人民群众的血肉联系，不断厚植党执政的群众基础。</p>
          <p style="text-indent: 2em; text-align: center;">
            <strong>红色基因强化全面从严治党战略定力</strong>
          </p>
          <p style="text-indent: 2em;">
            坚持从严管党治党，是共产党人不忘初心、牢记使命的重要保证。红色基因要求全党同志要对党忠诚和严守党的纪律。习近平总书记指出，我们干事业不能忘本忘祖、忘记初心。我们共产党人的本，就是对马克思主义的信仰，对中国特色社会主义和共产主义的信念，对党和人民的忠诚。讲忠诚，就要用实际行动传承红色基因。对党忠诚、永不叛党是写在入党誓词里的，是每个党员必须要做到的。</p>
          <p style="text-indent: 2em;">
            红色基因集中体现了共产党人永不褪色的党性。传承和弘扬红色基因是中国共产党担负历史使命的动力源泉，是中国共产党坚定“四个自信”的内在要求，是中国共产党坚定不移全面从严治党题中之义。传承和弘扬红色基因就是要强化坚定不移全面从严治党的信心和决心，严明党的纪律和规矩，严格落实管党治党责任，强化监督执纪问责。</p>
          <p style="text-indent: 2em;">
            红色基因是一种精神象征，是一种精神支柱。红色基因牢筑共产党人为共产主义远大理想和中国特色社会主义共同理想不断努力奋斗的精神高地。红色基因确保共产党人把握前进的正确方向，不断凝聚爱国奉献、求实创新的精神力量。红色基因永葆共产党人不断前进的根本动力。红色基因确保共产党人永不懈怠的精神状态和一往无前的奋斗姿态。</p>
          <p style="text-indent: 2em;">
            新时代传承和弘扬红色基因就要在立根固本中挺起精神脊梁，全面从严治党，落实新时代党的建设总要求，坚定理想信念、锤炼党性修养，认真践行群众观点、群众路线，践行以人民为中心的发展思想和执政理念，永远保持党同人民群众的血肉联系，确保党始终成为中国特色社会主义事业的坚强领导核心。</p>

        </div>

        <!--结束留言板块-->
      </div>
      <!--结束正文-->

    </div>

  </div>
  <!--con end-->
  <!--copyright-->


</body>

</html>