<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.eventplan.dao.CostPlanMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.eventplan.bean.CostPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_plan_id" jdbcType="INTEGER" property="eventPlanId" />
    <result column="cost_type" jdbcType="INTEGER" property="costType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="REAL" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, event_plan_id, cost_type, name, value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cost_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cost_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.eventplan.bean.CostPlan">
    insert into cost_plan (id, event_plan_id, cost_type, 
      name, value)
    values (#{id,jdbcType=INTEGER}, #{eventPlanId,jdbcType=INTEGER}, #{costType,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{value,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.eventplan.bean.CostPlan">
    insert into cost_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventPlanId != null">
        event_plan_id,
      </if>
      <if test="costType != null">
        cost_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventPlanId != null">
        #{eventPlanId,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.eventplan.bean.CostPlan">
    update cost_plan
    <set>
      <if test="eventPlanId != null">
        event_plan_id = #{eventPlanId,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        cost_type = #{costType,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.eventplan.bean.CostPlan">
    update cost_plan
    set event_plan_id = #{eventPlanId,jdbcType=INTEGER},
      cost_type = #{costType,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>