<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.credential.dao.CredentialMapper">
    <select id="selectPartyDueRecord" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            D.id,
            D.paid_money as amount,
            D.paid_date as paymentTime,
            W.name as paymentMethod,
            U.name as username,
            O.org_info_name as organization
        FROM party_membership_dues_manage D
        INNER JOIN party_membership_dues_paid_way W ON w.id = D.paid_way
        INNER JOIN base_user_info U ON U.base_user_id = D.user_id
        INNER JOIN organization_information O ON O.org_info_id = D.org_id
        where D.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>