<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.IntegralChangeTypeMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.IntegralChangeType">
    <id column="ict_id" jdbcType="INTEGER" property="ictId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="operation" jdbcType="INTEGER" property="operation" />
    <result column="ic_id" jdbcType="INTEGER" property="icId" />
    <result column="change_proposal_integral" jdbcType="DECIMAL" property="changeProposalIntegral" />
  </resultMap>
  <sql id="Base_Column_List">
    ict_id, type, name, describes, operation, ic_id, change_proposal_integral
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from integral_change_type
    where ict_id = #{ictId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from integral_change_type
    where ict_id = #{ictId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType">
    insert into integral_change_type (ict_id, type, name, 
      describes, operation, ic_id, change_proposal_integral)
    values (#{ictId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describes,jdbcType=VARCHAR}, #{operation,jdbcType=INTEGER}, #{icId,jdbcType=INTEGER}, #{changeProposalIntegral,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType">
    insert into integral_change_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ictId != null">
        ict_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="icId != null">
        ic_id,
      </if>
      <if test="changeProposalIntegral != null">
        change_proposal_integral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ictId != null">
        #{ictId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="icId != null">
        #{icId,jdbcType=INTEGER},
      </if>
      <if test="changeProposalIntegral != null">
        #{changeProposalIntegral,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType">
    update integral_change_type
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="icId != null">
        ic_id = #{icId,jdbcType=INTEGER},
      </if>
      <if test="changeProposalIntegral != null">
        change_proposal_integral = #{changeProposalIntegral,jdbcType=DECIMAL},
      </if>
    </set>
    where ict_id = #{ictId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType">
    update integral_change_type
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=INTEGER},
      ic_id = #{icId,jdbcType=INTEGER},
      change_proposal_integral = #{changeProposalIntegral,jdbcType=DECIMAL}
    where ict_id = #{ictId,jdbcType=INTEGER}
  </update>
  
  <select id="queryICT_ChangeType" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType" resultMap="BaseResultMap">
  	select
	  distinct ict.type type
	from
	  integral_change_type ict
  </select>
  
  <select id="queryICT" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType" resultMap="BaseResultMap" flushCache="true">
  	select
	  <include refid="Base_Column_List" />
	from
	  integral_change_type ict
	where
	  1 = 1
	  <if test="type != null"> and 
        ict.type = #{type}
      </if>
      <if test="ictId != null"> and 
        ict.ict_id = #{ictId}
      </if>
      <if test="icId != null"> and 
        ict.ic_id = #{icId}
      </if>
      <if test="operation != null"> and 
        ict.operation = #{operation}
      </if>
  </select>
  
  <!-- 设置积分时，如果加/扣分为空，则删除加/扣分项 -->
  <delete id="deleteChangeIntegralIsNull" parameterType="com.zltel.broadcast.um.bean.IntegralChangeType">
    delete from integral_change_type
    where ic_id = #{icId,jdbcType=INTEGER} and type = #{type,jdbcType=INTEGER}
  </delete>
</mapper>