<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.JoinPartyOrgFileMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.JoinPartyOrgFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="file_title" jdbcType="VARCHAR" property="fileTitle" />
    <result column="file_describes" jdbcType="VARCHAR" property="fileDescribes" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, step_id, file_title, file_describes, file_path, file_type, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from join_party_org_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from join_party_org_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgFile">
    insert into join_party_org_file (id, step_id, file_title, 
      file_describes, file_path, file_type, 
      time)
    values (#{id,jdbcType=INTEGER}, #{stepId,jdbcType=INTEGER}, #{fileTitle,jdbcType=VARCHAR}, 
      #{fileDescribes,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgFile">
    insert into join_party_org_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stepId != null">
        step_id,
      </if>
      <if test="fileTitle != null">
        file_title,
      </if>
      <if test="fileDescribes != null">
        file_describes,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="fileTitle != null">
        #{fileTitle,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribes != null">
        #{fileDescribes,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgFile">
    update join_party_org_file
    <set>
      <if test="stepId != null">
        step_id = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="fileTitle != null">
        file_title = #{fileTitle,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribes != null">
        file_describes = #{fileDescribes,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgFile">
    update join_party_org_file
    set step_id = #{stepId,jdbcType=INTEGER},
      file_title = #{fileTitle,jdbcType=VARCHAR},
      file_describes = #{fileDescribes,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryJoinPartyOrgFiles" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgFile" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from 
    	join_party_org_file
    where
    	1=1
	  <if test="stepId != null"> and 
		  step_id = #{stepId}
	  </if>
  </select>
</mapper>