<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.JoinPartyOrgStepMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.JoinPartyOrgStep">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="join_id" jdbcType="INTEGER" property="joinId" />
    <result column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="step_title" jdbcType="VARCHAR" property="stepTitle" />
    <result column="step_describes" jdbcType="VARCHAR" property="stepDescribes" />
    <result column="step_status" jdbcType="VARCHAR" property="stepStatus" />
    <result column="step_status_reason" jdbcType="VARCHAR" property="stepStatusReason" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, join_id, process_id, step_title, step_describes, step_status, step_status_reason, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from join_party_org_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from join_party_org_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgStep">
    insert into join_party_org_step (id, join_id, process_id, 
      step_title, step_describes, step_status, step_status_reason, 
      time)
    values (#{id,jdbcType=INTEGER}, #{joinId,jdbcType=INTEGER}, #{processId,jdbcType=INTEGER}, 
      #{stepTitle,jdbcType=VARCHAR}, #{stepDescribes,jdbcType=VARCHAR}, #{stepStatus,jdbcType=VARCHAR}, 
      #{stepStatusReason,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgStep" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into join_party_org_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="joinId != null">
        join_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="stepTitle != null">
        step_title,
      </if>
      <if test="stepDescribes != null">
        step_describes,
      </if>
      <if test="stepStatus != null">
        step_status,
      </if>
      <if test="stepStatusReason != null">
        step_status_reason,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="joinId != null">
        #{joinId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="stepTitle != null">
        #{stepTitle,jdbcType=VARCHAR},
      </if>
      <if test="stepDescribes != null">
        #{stepDescribes,jdbcType=VARCHAR},
      </if>
      <if test="stepStatus != null">
        #{stepStatus,jdbcType=VARCHAR},
      </if>
      <if test="stepStatusReason != null">
        #{stepStatusReason,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgStep">
    update join_party_org_step
    <set>
      <if test="joinId != null">
        join_id = #{joinId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="stepTitle != null">
        step_title = #{stepTitle,jdbcType=VARCHAR},
      </if>
      <if test="stepDescribes != null">
        step_describes = #{stepDescribes,jdbcType=VARCHAR},
      </if>
      <if test="stepStatus != null">
        step_status = #{stepStatus,jdbcType=VARCHAR},
      </if>
      <if test="stepStatusReason != null">
        step_status_reason = #{stepStatusReason,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.JoinPartyOrgStep">
    update join_party_org_step
    set join_id = #{joinId,jdbcType=INTEGER},
      process_id = #{processId,jdbcType=INTEGER},
      step_title = #{stepTitle,jdbcType=VARCHAR},
      step_describes = #{stepDescribes,jdbcType=VARCHAR},
      step_status = #{stepStatus,jdbcType=VARCHAR},
      step_status_reason = #{stepStatusReason,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryJoinPartyOrgSteps" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	select
	  jpos.id id,
	  jpos.join_id joinId,
	  jpos.process_id processId,
	  jpop.name processName,
	  jpos.step_title stepTitle,
	  jpos.step_describes stepDescribes,
	  jpos.step_status stepStatus,
	  jpos.step_status_reason stepStatusReason,
	  jpos.time stepTime
	from
	  join_party_org_step jpos 
	  inner join join_party_org_process jpop on jpos.process_id = jpop.id
	where 
	  1 = 1
	  <if test="joinId != null and joinId != ''"> and 
		  jpos.join_id = #{joinId}
	  </if>
	  <if test="processId != null and processId != ''"> and 
		  jpos.process_id = #{processId}
	  </if>
  </select>
</mapper>