<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.OrganizationJoinProcessMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="index_num" jdbcType="INTEGER" property="indexNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, process_id, index_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization_join_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from organization_join_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    insert into organization_join_process (id, org_id, process_id, 
      index_num)
    values (#{id,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{processId,jdbcType=INTEGER}, 
      #{indexNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    insert into organization_join_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="indexNum != null">
        index_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="indexNum != null">
        #{indexNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    update organization_join_process
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="indexNum != null">
        index_num = #{indexNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    update organization_join_process
    set org_id = #{orgId,jdbcType=INTEGER},
      process_id = #{processId,jdbcType=INTEGER},
      index_num = #{indexNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByOrgId" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess">
    delete from organization_join_process
    where org_id = #{OrgId,jdbcType=INTEGER}
  </delete>
  
  <select id="queryOjp" parameterType="com.zltel.broadcast.um.bean.OrganizationJoinProcess" resultMap="BaseResultMap">
    select 
      <include refid="Base_Column_List" />
    from 
      organization_join_process
    where 
      1 = 1
      <if test="orgId != null and orgId != ''"> and
       	org_id = #{orgId}
      </if>
    order by index_num asc
  </select>
</mapper>