<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.OrganizationRelationMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.OrganizationRelation">
    <id column="org_rlt_id" jdbcType="INTEGER" property="orgRltId" />
    <result column="org_rlt_info_id" jdbcType="INTEGER" property="orgRltInfoId" />
    <result column="org_rlt_duty_id" jdbcType="INTEGER" property="orgRltDutyId" />
    <result column="org_rlt_user_id" jdbcType="INTEGER" property="orgRltUserId" />
    <result column="org_rlt_join_time" jdbcType="TIMESTAMP" property="orgRltJoinTime" />
  </resultMap>
  <sql id="Base_Column_List">
    org_rlt_id, org_rlt_info_id, org_rlt_duty_id, org_rlt_user_id, org_rlt_join_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization_relation
    where org_rlt_id = #{orgRltId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from organization_relation
    where org_rlt_id = #{orgRltId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.OrganizationRelation">
    insert into organization_relation (org_rlt_id, org_rlt_info_id, org_rlt_duty_id, 
      org_rlt_user_id, org_rlt_join_time)
    values (#{orgRltId,jdbcType=INTEGER}, #{orgRltInfoId,jdbcType=INTEGER}, #{orgRltDutyId,jdbcType=INTEGER}, 
      #{orgRltUserId,jdbcType=INTEGER},  #{orgRltJoinTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.OrganizationRelation">
    insert into organization_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgRltId != null">
        org_rlt_id,
      </if>
      <if test="orgRltInfoId != null">
        org_rlt_info_id,
      </if>
      <if test="orgRltDutyId != null">
        org_rlt_duty_id,
      </if>
      <if test="orgRltUserId != null">
        org_rlt_user_id,
      </if>
      <if test="orgRltJoinTime != null">
        org_rlt_join_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgRltId != null">
        #{orgRltId,jdbcType=INTEGER},
      </if>
      <if test="orgRltInfoId != null">
        #{orgRltInfoId,jdbcType=INTEGER},
      </if>
      <if test="orgRltDutyId != null">
        #{orgRltDutyId,jdbcType=INTEGER},
      </if>
      <if test="orgRltUserId != null">
        #{orgRltUserId,jdbcType=INTEGER},
      </if>
      <if test="orgRltJoinTime != null">
        #{orgRltJoinTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.OrganizationRelation">
    update organization_relation
    <set>
      <if test="orgRltInfoId != null">
        org_rlt_info_id = #{orgRltInfoId,jdbcType=INTEGER},
      </if>
      <if test="orgRltDutyId != null">
        org_rlt_duty_id = #{orgRltDutyId,jdbcType=INTEGER},
      </if>
      <if test="orgRltUserId != null">
        org_rlt_user_id = #{orgRltUserId,jdbcType=INTEGER},
      </if>
      <if test="orgRltJoinTime != null">
        org_rlt_join_time = #{orgRltJoinTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where org_rlt_id = #{orgRltId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.OrganizationRelation">
    update organization_relation
    set org_rlt_info_id = #{orgRltInfoId,jdbcType=INTEGER},
      org_rlt_duty_id = #{orgRltDutyId,jdbcType=INTEGER},
      org_rlt_user_id = #{orgRltUserId,jdbcType=INTEGER},
      org_rlt_join_time = #{orgRltJoinTime,jdbcType=TIMESTAMP}
    where org_rlt_id = #{orgRltId,jdbcType=INTEGER}
  </update>
  
  <select id="queryOrgRelations" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
		  _or.org_rlt_id orgRltId,
		  oi.org_info_name infoName,
		  oi.org_info_manager_region orgInfoManagerRegion,
		  oi.org_info_active_region orgInfoActionRegion,
		  oi.org_info_describe orgInfoDescribe,
		  oi.org_info_parent_id orgInfoParentId,
		  od.org_duty_name orgDutyName,
		  od.org_duty_describe orgDutyDescribe,
		  ot.org_type_name orgTypeName,
		  od.org_duty_parent_id orgDutyParentId,
		  bu.name buName,
		  bu.id_card buIdCard,
		  bu.sex buSex,
		  bu.address buAddress,
		  bu.edu_level buEduLevel,
		  bu.phone buPhone,
		  bu.nation buNation,
		  bu.email buEmail,
		  bu.qq buQq,
		  bu.wechat buWechat,
		  bu.head_img buHeadImg,
		  bu.political_bg buPoliticalBg
		from
		  organization_relation _or inner join organization_info oi inner join
		  organization_duty od inner join base_user bu inner join organization_type ot
		where
		  _or.org_rlt_info_id = oi.org_info_id and
		  _or.org_rlt_duty_id = od.org_duty_id and
		  _or.org_rlt_user_id = bu.uid and
		  od.org_duty_type_id = ot.org_type_id
		  <if test="orgRltInfoId != null and orgRltInfoId != ''"> and 
	        _or.org_rlt_info_id = #{orgRltInfoId}
	      </if>
	      <if test="orgRltDutyId != null and orgRltDutyId != ''"> and 
	        _or.org_rlt_duty_id = #{orgRltDutyId}
	      </if>
	      <if test="buSex != null and buSex != ''"> and 
	        bu.sex = #{buSex}
	      </if>
	</select>
	
	<select id="queryOrgRelationsNew" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
		  _or.org_rlt_id orgRltId,
		  oi.org_info_id orgInfoId,
		  ot.org_type_id orgTypeId,
		  od.org_duty_id orgDutyId,
		  od.org_duty_parent_id orgDutyParentId,
		  bui.base_user_id baseUserId,
		  pui.party_user_id partyUserId,
		  bui.name name,
		  bui.sex sex,
		  nt.name nationName,
		  bui.birth_date birthDate,
		  el.name educationName,
		  adl.name academicDegreeName,
  		  od.org_duty_name orgDutyName,
  		  pui.type partyType,
  		  pui.status partyStatus,
  		  bui.id_photo idPhoto,
  		  bui.mobile_phone mobilePhone,
  		  _or.org_rlt_join_time orgRltJoinTime,
  		  bui.id_card idCard
		from
		  organization_relation _or
		  inner join organization_information oi on _or.org_rlt_info_id = oi.org_info_id 
		  inner join organization_type ot on oi.org_info_type_id = ot.org_type_id
		  inner join organization_duty od on _or.org_rlt_duty_id = od.org_duty_id
		  inner join base_user_info bui on _or.org_rlt_user_id = bui.base_user_id
		  left join party_user_info pui on bui.base_user_id = pui.party_user_id 
		  left join nation_type nt on bui.nation = nt.nt_id 
		  left join education_level el on bui.education = el.edu_level_eid
		  left join academic_degree_level adl on bui.academic_degree = adl.ad_d_aid
		where
		  1 = 1
		  <if test="orgRltInfoId != null and orgRltInfoId != ''"> and 
	        _or.org_rlt_info_id = #{orgRltInfoId}
	      </if>
	      <if test="orgDutyParentId != null and orgDutyParentId != ''"> and 
	        od.org_duty_parent_id = #{orgDutyParentId}
	      </if>
	      <if test="orgRltUserId != null and orgRltUserId != ''"> and 
	        _or.org_rlt_user_id = #{orgRltUserId}
	      </if>
	      <if test="orgRltId != null and orgRltId != ''"> and 
	        _or.org_rlt_id = #{orgRltId}
	      </if>
	      <if test="orgRltStartJoinTime != null"> and 
			_or.org_rlt_join_time >= #{orgRltStartJoinTime}
		  </if>
		  <if test="orgRltEndJoinTime != null"> and 
			_or.org_rlt_join_time &lt;= #{orgRltEndJoinTime}
		  </if>
	      <if test="sex != null and sex != ''"> and 
	        bui.sex = #{sex}
	      </if>
	      <if test="idCard != null and idCard != ''"> and 
	        bui.id_card = #{idCard}
	      </if>
	</select>
	
	<delete id="deleteOrgRelationByOrgInfoId" parameterType="java.lang.Integer">
	    delete from organization_relation
	    where org_rlt_info_id = #{orgRltInfoId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteOrgRelationByOrgDutyId" parameterType="java.lang.Integer">
	    delete from organization_relation
	    where org_rlt_duty_id = #{orgRltDutyId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteOrgRelationByUserId" parameterType="java.lang.Integer">
	    delete from organization_relation
	    where org_rlt_user_id = #{orgRltUserId,jdbcType=INTEGER}
	</delete>
	
	<select id="queryOrgRelationsNewForUserId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
		  distinct _or.org_rlt_user_id orgRltUserId
		from
		  organization_relation _or 
		  inner join base_user_info bui on _or.org_rlt_user_id = bui.base_user_id
		where
		  1 = 1
		  <if test="orgRltInfoId != null and orgRltInfoId != ''"> and 
	        _or.org_rlt_info_id = #{orgRltInfoId}
	      </if>
	      <if test="orgRltStartJoinTime != null"> and 
			_or.org_rlt_join_time >= #{orgRltStartJoinTime}
		  </if>
		  <if test="orgRltEndJoinTime != null"> and 
			_or.org_rlt_join_time &lt;= #{orgRltEndJoinTime}
		  </if>
		  <if test="orgRltUserId != null and orgRltUserId != ''"> and 
	        _or.org_rlt_user_id = #{orgRltUserId}
	      </if>
	      <if test="sex != null and sex != ''"> and 
	        bui.sex = #{sex}
	      </if>
	</select>
</mapper>