<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.OrganizationNatureMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.OrganizationNature">
    <id column="org_nature_id" jdbcType="INTEGER" property="orgNatureId" />
    <result column="org_nature_name" jdbcType="VARCHAR" property="orgNatureName" />
    <result column="org_nature_describe" jdbcType="VARCHAR" property="orgNatureDescribe" />
  </resultMap>
  <sql id="Base_Column_List">
    org_nature_id, org_nature_name, org_nature_describe
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization_nature
    where org_nature_id = #{orgNatureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from organization_nature
    where org_nature_id = #{orgNatureId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.OrganizationNature">
    insert into organization_nature (org_nature_id, org_nature_name, org_nature_describe
      )
    values (#{orgNatureId,jdbcType=INTEGER}, #{orgNatureName,jdbcType=VARCHAR}, #{orgNatureDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.OrganizationNature">
    insert into organization_nature
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgNatureId != null">
        org_nature_id,
      </if>
      <if test="orgNatureName != null">
        org_nature_name,
      </if>
      <if test="orgNatureDescribe != null">
        org_nature_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgNatureId != null">
        #{orgNatureId,jdbcType=INTEGER},
      </if>
      <if test="orgNatureName != null">
        #{orgNatureName,jdbcType=VARCHAR},
      </if>
      <if test="orgNatureDescribe != null">
        #{orgNatureDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.OrganizationNature">
    update organization_nature
    <set>
      <if test="orgNatureName != null">
        org_nature_name = #{orgNatureName,jdbcType=VARCHAR},
      </if>
      <if test="orgNatureDescribe != null">
        org_nature_describe = #{orgNatureDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where org_nature_id = #{orgNatureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.OrganizationNature">
    update organization_nature
    set org_nature_name = #{orgNatureName,jdbcType=VARCHAR},
      org_nature_describe = #{orgNatureDescribe,jdbcType=VARCHAR}
    where org_nature_id = #{orgNatureId,jdbcType=INTEGER}
  </update>
  
  
  <select id="queryOrgNatures" parameterType="com.zltel.broadcast.um.bean.OrganizationNature" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from organization_nature
		where 
			1 = 1
			
	</select>
</mapper>