<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.zltel.broadcast.terminal.dao.TerminalBasicInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.zltel.broadcast.terminal.bean.TerminalBasicInfo">
		<!-- <id column="oid" jdbcType="INTEGER" property="oid" /> -->
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="type_id" jdbcType="VARCHAR" property="typeId" />
		<result column="res_time" jdbcType="VARCHAR" property="resTime" />
		<result column="online" jdbcType="VARCHAR" property="online" />
		<result column="last_time" jdbcType="VARCHAR"
			property="lastTime" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="mac" jdbcType="VARCHAR" property="mac" />
		<result column="sys" jdbcType="VARCHAR" property="sys" />
		<result column="size" jdbcType="VARCHAR" property="size" />
		<result column="ratio" jdbcType="VARCHAR" property="ratio" />
		<result column="rev" jdbcType="VARCHAR" property="rev" />
		<result column="ver" jdbcType="VARCHAR" property="ver" />
		<result column="typ" jdbcType="VARCHAR" property="typ" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="addr" jdbcType="VARCHAR" property="addr" />
		<result column="gis" jdbcType="VARCHAR" property="gis" />
		<result column="warranty" jdbcType="VARCHAR"
			property="warranty" />
		<result column="loc" jdbcType="VARCHAR" property="loc" />
	</resultMap>
	<resultMap id="EChartsMap"
		type="com.zltel.broadcast.terminal.bean.TerminalEcharts">
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="value" jdbcType="VARCHAR" property="value" />
	</resultMap>
	<sql id="Base_Column_List">
		oid, name, id, code, type_id, res_time, online, last_time, ip, mac, sys,
		size, ratio,
		rev, ver, typ, tel, addr, gis, warranty, loc
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from terminal_basic_info
		where oid = #{oid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from terminal_basic_info
		where oid = #{oid,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.zltel.broadcast.terminal.bean.TerminalBasicInfo">
		insert into terminal_basic_info ( name, id,
		code, type_id, res_time,
		online, last_time, ip,
		mac, sys, size, ratio,
		rev, ver, typ, tel,
		addr, gis, warranty, loc)
		values (#{name,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR},
		#{resTime,jdbcType=VARCHAR},
		#{online,jdbcType=VARCHAR}, #{lastTime,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
		#{mac,jdbcType=VARCHAR}, #{sys,jdbcType=VARCHAR},
		#{size,jdbcType=VARCHAR}, #{ratio,jdbcType=VARCHAR},
		#{rev,jdbcType=VARCHAR}, #{ver,jdbcType=VARCHAR},
		#{typ,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
		#{addr,jdbcType=VARCHAR},#{gis,jdbcType=VARCHAR},#{warranty,jdbcType=VARCHAR},#{loc,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.zltel.broadcast.terminal.bean.TerminalBasicInfo">
		insert into terminal_basic_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				oid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="resTime != null">
				res_time,
			</if>
			<if test="online != null">
				online,
			</if>
			<if test="lastTime != null">
				last_time,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="mac != null">
				mac,
			</if>
			<if test="sys != null">
				sys,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="ratio != null">
				ratio,
			</if>
			<if test="rev != null">
				rev,
			</if>
			<if test="ver != null">
				ver,
			</if>
			<if test="typ != null">
				typ,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="gis != null">
				gis,
			</if>
			<if test="warranty != null">
				warranty,
			</if>
			<if test="loc != null">
				loc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">
				#{oid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="resTime != null">
				#{resTime,jdbcType=VARCHAR},
			</if>
			<if test="online != null">
				#{online,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				#{mac,jdbcType=VARCHAR},
			</if>
			<if test="sys != null">
				#{sys,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				#{size,jdbcType=VARCHAR},
			</if>
			<if test="ratio != null">
				#{ratio,jdbcType=VARCHAR},
			</if>
			<if test="rev != null">
				#{rev,jdbcType=VARCHAR},
			</if>
			<if test="ver != null">
				#{ver,jdbcType=VARCHAR},
			</if>
			<if test="typ != null">
				#{typ,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="gis != null">
				#{gis,jdbcType=VARCHAR},
			</if>
			<if test="warranty != null">
				#{warranty,jdbcType=VARCHAR},
			</if>
			<if test="loc != null">
				#{loc,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.zltel.broadcast.terminal.bean.TerminalBasicInfo">
		update terminal_basic_info
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=VARCHAR},
			</if>
			<if test="resTime != null">
				res_time = #{resTime,jdbcType=VARCHAR},
			</if>
			<if test="online != null">
				online = #{online,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				last_time = #{lastTime,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="sys != null">
				sys = #{sys,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				size = #{size,jdbcType=VARCHAR},
			</if>
			<if test="ratio != null">
				ratio = #{ratio,jdbcType=VARCHAR},
			</if>
			<if test="rev != null">
				rev = #{rev,jdbcType=VARCHAR},
			</if>
			<if test="ver != null">
				ver = #{ver,jdbcType=VARCHAR},
			</if>
			<if test="typ != null">
				typ = #{typ,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="gis != null">
				gis = #{gis,jdbcType=VARCHAR},
			</if>
			<if test="warranty != null">
				warranty = #{warranty,jdbcType=VARCHAR},
			</if>
			<if test="loc != null">
				loc = #{loc,jdbcType=VARCHAR}
			</if>
		</set>
		where oid = #{oid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.zltel.broadcast.terminal.bean.TerminalBasicInfo">
		update terminal_basic_info
		set name = #{name,jdbcType=VARCHAR},
		id = #{id,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		type_id = #{typeId,jdbcType=VARCHAR},
		res_time = #{resTime,jdbcType=VARCHAR},
		online = #{online,jdbcType=VARCHAR},
		last_time = #{lastTime,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		mac = #{mac,jdbcType=VARCHAR},
		sys = #{sys,jdbcType=VARCHAR},
		size = #{size,jdbcType=VARCHAR},
		ratio = #{ratio,jdbcType=VARCHAR},
		rev = #{rev,jdbcType=VARCHAR},
		ver = #{ver,jdbcType=VARCHAR},
		typ = #{typ,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		addr = #{addr,jdbcType=VARCHAR},
		gis = #{gis,jdbcType=VARCHAR},
		warranty = #{warranty,jdbcType=VARCHAR},
		loc = #{loc,jdbcType=VARCHAR}
		where oid = #{oid,jdbcType=INTEGER}
	</update>
	<select id="queryBasicInfo"
		parameterType="com.zltel.broadcast.terminal.bean.TerminalBasicInfo"
		resultMap="BaseResultMap">
		select
		<!-- <include refid="Base_Column_List" /> -->
		*
		from terminal_basic_info
		where
		1 = 1
		<if test="name != null and name !=''">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id !=''">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="code != null and code !=''">
			and code = #{code,jdbcType=VARCHAR}
		</if>
		<if test="typeId != null and typeId !=''">
			and type_id = #{typeId,jdbcType=VARCHAR}
		</if>
		<if test="resTime!= null and resTime !=''">
			and res_time = #{resTime,jdbcType=VARCHAR}
		</if>
		<if test="online!= null and online !=''">
			and online = #{online,jdbcType=VARCHAR}
		</if>
		<if test="lastTime!= null and lastTime !=''">
			and last_time = #{lastTime,jdbcType=VARCHAR}
		</if>
		<if test="ip != null and ip !=''">
			and ip = #{ip,jdbcType=VARCHAR}
		</if>
		<if test="mac != null and mac !=''">
			and mac = #{mac,jdbcType=VARCHAR}
		</if>
		<if test="sys != null and sys !=''">
			and sys = #{sys,jdbcType=VARCHAR}
		</if>
		<if test="size != null and size !=''">
			and size = #{size,jdbcType=VARCHAR}
		</if>
		<if test="ratio != null and ratio !=''">
			and ratio = #{ratio,jdbcType=VARCHAR}
		</if>
		<if test="rev != null and rev !=''">
			and rev = #{rev,jdbcType=VARCHAR}
		</if>
		<if test="ver != null and ver !=''">
			and ver = #{ver,jdbcType=VARCHAR}
		</if>
		<if test="typ != null and typ !=''">
			and typ = #{typ,jdbcType=VARCHAR}
		</if>
		<if test="tel != null and tel !=''">
			and tel = #{tel,jdbcType=VARCHAR}
		</if>
		<if test="addr != null and addr !=''">
			and addr = #{addr,jdbcType=VARCHAR}
		</if>
		<if test="gis != null and gis !=''">
			and gis = #{gis,jdbcType=VARCHAR}
		</if>
		<if test="warranty != null and warranty !=''">
			and warranty = #{warranty,jdbcType=VARCHAR}
		</if>
		<if test="loc != null and loc !=''">
			and loc = #{loc,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="queryAll" resultMap="BaseResultMap"> select * from
		terminal_basic_info where 1=1</select>
	<select id="ratioEcharts" resultMap="EChartsMap"> select t.ratio name ,
		count(t.oid) value from terminal_basic_info t group by ratio</select>
	<select id="onlineEcharts" resultMap="EChartsMap"> select case t.online when
		'1' then '在线' when '0' then'离线' else t.online end name, count(t.oid)
		value from terminal_basic_info t group by online</select>
	<select id="locEcharts" resultMap="EChartsMap"> select t.loc name
		,count(t.oid) value from terminal_basic_info t group by t.loc</select>
	<select id="warrantyEcharts" resultMap="EChartsMap"> select t.warranty name
		,count(t.oid) value from terminal_basic_info t group by t.warranty
	</select>
	<select id="revEcharts" resultMap="EChartsMap"> select t.rev name
		,count(t.oid) value from terminal_basic_info t group by t.rev </select>
	<select id="verEcharts" resultMap="EChartsMap"> select t.ver name
		,count(t.oid) value from terminal_basic_info t group by t.ver </select>
	<select id="typEcharts" resultMap="EChartsMap"> select case t.typ when '1'
		then '一体机' when '2' then'播放盒+显示屏' when '3' then '播放盒+投影仪' else t.typ
		end name, count(t.oid) value from terminal_basic_info t group by t.typ
	</select>
	<select id="tCountEcharts" resultMap="EChartsMap"> select count(t.oid) name
		,count(t.oid) value from terminal_basic_info t where 1=1</select>
	<select id="countOnlineTerminal" resultType="com.zltel.broadcast.terminal.bean.OnlineCountBean">
		SELECT
			CASE
		WHEN ONLINE = 1 THEN
			'online'
		ELSE
			'offline'
		END type,
		 count(1) count
		FROM
			terminal_basic_info tbi
		GROUP BY
			tbi.online
	</select>
</mapper>