<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.threeone.dao.ThreeoneSummaryMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.threeone.bean.ThreeoneSummary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="add_date" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zltel.broadcast.threeone.bean.ThreeoneSummaryWithBLOBs">
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
    <result column="annex" jdbcType="LONGVARCHAR" property="annex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, schedule_id, update_date, add_date
  </sql>
  <sql id="Blob_Column_List">
    summary, annex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from threeone_summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from threeone_summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.threeone.bean.ThreeoneSummaryWithBLOBs">
    insert into threeone_summary (id, schedule_id, update_date, 
      add_date, summary, annex
      )
    values (#{id,jdbcType=INTEGER}, #{scheduleId,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{addDate,jdbcType=TIMESTAMP}, #{summary,jdbcType=LONGVARCHAR}, #{annex,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.threeone.bean.ThreeoneSummaryWithBLOBs">
    insert into threeone_summary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scheduleId != null">
        schedule_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="addDate != null">
        add_date,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="annex != null">
        annex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="annex != null">
        #{annex,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.threeone.bean.ThreeoneSummaryWithBLOBs">
    update threeone_summary
    <set>
      <if test="scheduleId != null">
        schedule_id = #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addDate != null">
        add_date = #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="annex != null">
        annex = #{annex,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zltel.broadcast.threeone.bean.ThreeoneSummaryWithBLOBs">
    update threeone_summary
    set schedule_id = #{scheduleId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      add_date = #{addDate,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=LONGVARCHAR},
      annex = #{annex,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.threeone.bean.ThreeoneSummary">
    update threeone_summary
    set schedule_id = #{scheduleId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      add_date = #{addDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySchedule" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from threeone_summary
    where schedule_id = #{scheduleId,jdbcType=INTEGER}
  </select>
</mapper>