<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zltel.broadcast.um.dao.TurnOutOrgUserMapper">
  <resultMap id="BaseResultMap" type="com.zltel.broadcast.um.bean.TurnOutOrgUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="turn_out_org_id" jdbcType="INTEGER" property="turnOutOrgId" />
    <result column="other_org_name" jdbcType="VARCHAR" property="otherOrgName" />
    <result column="join_status" jdbcType="VARCHAR" property="joinStatus" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="now_step" jdbcType="INTEGER" property="nowStep" />
    <result column="is_history" jdbcType="BIT" property="isHistory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, turn_out_org_id, other_org_name, join_status, time, now_step, is_history
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from turn_out_org_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from turn_out_org_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zltel.broadcast.um.bean.TurnOutOrgUser">
    insert into turn_out_org_user (id, user_id, turn_out_org_id, other_org_name,
      join_status, time, now_step, 
      is_history)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{turnOutOrgId,jdbcType=INTEGER}, 
      #{otherOrgName,jdbcType=VARCHAR}, #{joinStatus,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{nowStep,jdbcType=INTEGER}, 
      #{isHistory,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zltel.broadcast.um.bean.TurnOutOrgUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into turn_out_org_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="turnOutOrgId != null">
        turn_out_org_id,
      </if>
      <if test="otherOrgName != null">
        other_org_name,
      </if>
      <if test="joinStatus != null">
        join_status,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="nowStep != null">
        now_step,
      </if>
      <if test="isHistory != null">
        is_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="turnOutOrgId != null">
        #{turnOutOrgId,jdbcType=INTEGER},
      </if>
      <if test="otherOrgName != null">
        #{otherOrgName,jdbcType=VARCHAR},
      </if>
      <if test="joinStatus != null">
        #{joinStatus,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="nowStep != null">
        #{nowStep,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null">
        #{isHistory,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zltel.broadcast.um.bean.TurnOutOrgUser">
    update turn_out_org_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="turnOutOrgId != null">
        turn_out_org_id = #{turnOutOrgId,jdbcType=INTEGER},
      </if>
      <if test="otherOrgName != null">
        other_org_name = #{otherOrgName,jdbcType=VARCHAR},
      </if>
      <if test="joinStatus != null">
        join_status = #{joinStatus,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="nowStep != null">
        now_step = #{nowStep,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null">
        is_history = #{isHistory,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zltel.broadcast.um.bean.TurnOutOrgUser">
    update turn_out_org_user
    set user_id = #{userId,jdbcType=INTEGER},
      turn_out_org_id = #{turnOutOrgId,jdbcType=INTEGER},
      other_org_name = #{otherOrgName,jdbcType=VARCHAR},
      join_status = #{joinStatus,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      now_step = #{nowStep,jdbcType=INTEGER},
      is_history = #{isHistory,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryToouIsTurnOut" parameterType="com.zltel.broadcast.um.bean.TurnOutOrgUser" resultType="java.util.HashMap">
  	select
	  toou.id id, 
	  toou.user_id userId, 
	  toou.turn_out_org_id turnOutOrgId,
	  toou.other_org_name otherOrgName, 
	  toou.join_status joinStatus, 
	  toou.time time, 
	  toou.now_step nowStep, 
	  toou.is_history isHistory,
	  _oi.org_info_name orgInfoName
	from 
	  turn_out_org_user toou
	  left join organization_information _oi on toou.turn_out_org_id = _oi.org_info_id
	where 
	  1 = 1
	  <if test="userId != null"> and 
		  toou.user_id = #{userId}
	  </if>
	  <if test="isHistory != null"> and 
		  toou.is_history = #{isHistory}
	  </if>
	  <if test="turnOutOrgId != null"> and 
		  toou.turn_out_org_id = #{turnOutOrgId}
	  </if>
  </select>
  
  
  <select id="queryTurnOutOrgPartyUsers" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	select
	  toou.id id,
	  bui.base_user_id baseUserId,
	  bui.name name,
	  bui.sex sex,
	  bui.id_card idCard,
	  toou.turn_out_org_id turnOutOrgId,
	  _oi.org_info_name orgInfoName,
	  toou.other_org_name otherOrgName, 
	  toou.join_status joinStatus,
	  toou.time applyTime,
	  toou.now_step nowStep,
	  toop.name nowStepName
	from
	  turn_out_org_user toou 
	  inner join base_user_info bui on toou.user_id = bui.base_user_id 
	  inner join turn_out_org_process toop on toop.id = toou.now_step 
	  left join organization_information _oi on _oi.org_info_id = toou.turn_out_org_id
	where 
	  1 = 1
	  <if test="idCard != null and idCard != ''"> and 
		  bui.id_card = #{idCard}
	  </if>
	  <if test="baseUserId != null and baseUserId != ''"> and 
		  bui.base_user_id = #{baseUserId}
	  </if>
	  <if test="isHistory != null and isHistory != ''"> and 
		  toou.is_history = #{isHistory}
	  </if>
	  <if test="orgId != null and orgId != ''"> and 
		  toou.turn_out_org_id = #{orgId}
	  </if>
	  <if test="toouId != null and toouId != ''"> and 
		  toou.id = #{toouId}
	  </if>
  </select>
</mapper>