<!DOCTYPE html>
<html>

<head>
	<title>“高层声音”：“千年第一思想家”马克思，听习近平总书记这样评价他</title>

	<link rel="stylesheet" href="style.css">
	<style type="text/css">
		.head {
			background: url(headbg2.jpg) 0 0 no-repeat;
			background-size: cover;
		}
	</style>
		<script src="flexible.js" charset="utf-8"></script>
	<script charset="utf-8" src="zepto.min.js"></script>
</head>

<body class="noselect">
	<div class="main">
	
		<div class="dao">
			<div class="an-text">
				5月4日，纪念马克思诞辰200周年大会在人民大会堂举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。“高层声音”带您聆听现场。
				<a href="index.html" target="">
					<font color="#ff9900">&gt;&gt;&gt;点击进入“高层声音”</font>
				</a>
			</div>
		</div>
		<ul>
			<li class="audio-wrap">
				<div class="img-box-wrap">
					<div class="img-box">
						<h3 class="img-title">
							马克思毕生忘我工作，经常每天工作16个小时</h3>
						<img border="0" height="380" src="MAIN201805041450474626121726588.jpg" width="600" />
						<audio onended="endPlay()" preload="" src="2.mp3">
							&nbsp;</audio>
						<div class="play">
							&nbsp;</div>
					</div>
				</div>
				<div class="audio-detail">
					&nbsp; &nbsp;“马克思毕生忘我工作，经常每天工作16个小时。马克思在给友人的信中谈到，为了《资本论》的写作，“我一直在坟墓的边缘徘徊。因此，我不得不利用我还能工作的每时每刻来完成我的著作”。即使在多病的晚年，马克思仍然不断迈向新的科学领域和目标，写下了数量庞大的历史学、人类学、数学等学科笔记。”</div>
			</li>
		</ul>
	</div>

	<script charset="utf-8" src="index.js"></script>

</body>

</html>