<html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Language" content="utf-8" />
  <meta content="all" name="robots" />
  <title>高层声音</title>
 
  <!-- style -->
  <link rel="stylesheet" href="page.css" type="text/css" media="all" />

</head>

<body>
    <div class="banner"><span><img src="top01.jpg" width="750" height="402" /></span></div>
  <div class="p1_con">
    <ul>
      <li>
        <a href="c385474-30048322.html" >
          <img src="MAIN201806111607008900217503444.png" width="135" height="135" alt="关于世界大势和上合组织，习近平这样说&#13;         上海合作组织青岛峰会大范围会谈于6月10日在青岛国际会议中心举行，中国国家主席习近平主持会议。"
          />
        </a>
        <div>
          <a href="c385474-30048322.html" >
            <b>关于世界大势和上合组织，习近平这样说</b>
            <p>上海合作组织青岛峰会大范围会谈于6月10日在青岛国际会议中心举行，中国国家主席习近平主持会议。</p>
          </a>
        </div>
      </li>
      <li>
        <a href="c385474-29965629.html" target="">
          <img src="MAIN201805041530351582704231111.png" width="135" height="135" alt="“千年第一思想家”马克思，听习近平这样评价他&#13;         5月4日，纪念马克思诞辰200周年大会举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。"
          />
        </a>
        <div>
          <a href="c385474-29965629.html" target="">
            <b>“千年第一思想家”马克思，听习近平这样评价他</b>
            <p>5月4日，纪念马克思诞辰200周年大会举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。</p>
          </a>
        </div>
      </li>
      <li>
        <a href="" target="">
          <img src="MAIN201805031541293253308558054.png" width="135" height="135" alt="听总书记讲插队故事，北大学子笑开了花&#13;         5月2日，在五四青年节和北京大学建校120周年校庆日即将来临之际，习近平总书记来到北京大学考察并发表了重要讲话。"
          />
        </a>
        <div>
          <a href="" target="">
            <b>听总书记讲插队故事，北大学子笑开了花</b>
            <p>5月2日，在五四青年节和北京大学建校120周年校庆日即将来临之际，习近平总书记来到北京大学考察并发表了重要讲话。</p>
          </a>
        </div>
      </li>
      <li>
        <a href="" target="">
          <img src="MAIN201804101724585897443446369.png" width="135" height="135" alt="聆听习近平博鳌论坛开幕演讲十大金句&#13;         4月10日上午，中国国家主席习近平应邀出席博鳌亚洲论坛2018年年会开幕式并发表重要主旨演讲。"
          />
        </a>
        <div>
          <a href="" target="">
            <b>聆听习近平博鳌论坛开幕演讲十大金句</b>
            <p>4月10日上午，中国国家主席习近平应邀出席博鳌亚洲论坛2018年年会开幕式并发表重要主旨演讲。</p>
          </a>
        </div>
      </li>
      <li>
        <a href="" target="">
          <img src="MAIN201803201633001691719463027.png" width="135" height="135" alt="@中国人民，听习主席跟你说说“知心话”&#13;         3月20日上午，十三届全国人大一次会议在北京闭幕。国家主席习近平发表重要讲话。在习近平的讲话中，“人民”一词被多次提及，“高层声音”带您聆听习近平对人民都说了哪些“知心话”。"
          />
        </a>
        <div>
          <a href="" target="">
            <b>@中国人民，听习主席跟你说说“知心话”</b>
            <p>3月20日上午，十三届全国人大一次会议在北京闭幕。国家主席习近平发表重要讲话。在习近平的讲话中，“人民”一词被多次提及，“高层声音”带您聆听习近平对人民都说了哪些“知心话”。</p>
          </a>
        </div>
      </li>
      <li>
        <a href="" target="">
          <img src="MAIN201803171336159488987757759.png" width="135" height="135" alt="听现场！习近平主席进行宪法宣誓&#13;         3月17日上午，习近平全票当选为国家主席、中央军委主席。十三届全国人大一次会议宪法宣誓仪式举行。这是宪法宣誓制度实行以来首次在全国人民代表大会上举行的宪法宣誓活动。"
          />
        </a>
        <div>
          <a href="" target="">
            <b>听现场！习近平主席进行宪法宣誓</b>
            <p>3月17日上午，习近平全票当选为国家主席、中央军委主席。十三届全国人大一次会议宪法宣誓仪式举行。这是宪法宣誓制度实行以来首次在全国人民代表大会上举行的宪法宣誓活动。</p>
          </a>
        </div>
      </li>

    </ul>
  </div>
  <style>
    #copyright {
      width: 100%;
    }
  </style>
</body>

</html>