<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8">

<head>
    <meta http-equiv="content-language" content="utf-8" />
    <title>《习近平关于青少年和共青团工作论述摘编》</title>

    <link href="tushulianzai20140827.css" type="text/css" rel="stylesheet" rev="stylesheet" media="all"
    />
    <link rel="shortcut icon" href="/assets/logo.png" />
    <link rel="bookmark" href="/assets/logo.png" />
    <script src="jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="jcarousellite_1.0.1.min.js" type="text/javascript" language="javascript"></script>
</head>

<body>
    
    <div class="x_nav clearfix">
        <a href="">《习近平关于青少年和共青团工作论述摘编》</a>
    </div>
    <div class="content clearfix clear">
        <!--left-->
        <div class="left fl">
            <span>
                <img src="MAIN201805111635170990619712281.jpg" width="228" height="303" alt="" />
            </span>
            <p>&nbsp;</p>

          
        </div>
        <!--center-->
        <div class="center fl">
            <h1>《习近平关于青少年和共青团工作论述摘编》</h1>
            <p>　　中共中央文献研究室 编
                <br> 　　出版时间：2017年9月 </p>
            <div class="title">
                <h3>内容简介</h3>
            </div>
            <div class="jianjie">
                <font size="2.5">　　习近平同志围绕青少年和共青团工作发表的一系列重要论述，立意高远，内涵丰富，思想深刻，深刻论述了新形势下青少年和共青团工作的重大理论和实践问题，指明了当代青年的历史使命和成长道路，对于准确把握青少年和共青团工作的基本要求和重点任务，引导青少年树立远大理想、树立和践行社会主义核心价值观，教育团员增强“四个意识”、增强先进性和光荣感，动员广大青少年为实现“两个一百年”奋斗目标、实现中华民族伟大复兴的中国梦而勤奋学习、努力工作，具有十分重要的指导意义。</font>
                <br>
            </div>
        </div>
        <!--right-->
        <div class="right fr">
            <h3>出版说明</h3>
            <p>
                <font size="2.5">　　党的十八大以来，以习近平同志为核心的党中央高度重视青少年和共青团工作，亲切关怀青少年健康成长。
                    <br>
                    <font size="2.5">　　本书内容，摘自习近平同志二〇一二年十一月二十九日至二〇一七年五月三日期间的讲话、演讲、批示、贺信、回信等四十四篇重要文献，分八个专题，共计一百八十九段重要论述。其中部分论述是第一次公开发表。</font>
                    <br>
            </p>
            <h3>热门文章</h3>
            <ul>
                <li>
                    <a href=''>习近平谈共青团工作：不做青年“官”</a>
                </li>
                <li>
                    <a href=''>习近平勉励青年：第一粒扣子要扣好</a>
                </li>
                <li>
                    <a href=''>习近平：青年是国家和民族的希望</a>
                </li>
                <li>
                    <a href=''>习近平：青年最富有朝气、最富有梦想</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="p1_content">
        <h3>
            <img src="title.jpg" alt="" border="0" />
        </h3>
        <div class="p1_c clearfix">
            <b>
                <font size="4">一、青少年是国家的未来和民族的希望</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　青年是祖国的未来、民族的希望，也是我们党的未来和希望。中国共产党的创始人之一李大钊同志说过，青年要“为世界进文明，为人类造幸福，以青春之我，创建青春之家庭，青春之国家，青春之民族，青春之人类，青春之地球，青春之宇宙，资以乐其无涯之生”。九十五年来，我们党取得的所有成就都凝聚着青年的热情和奉献。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《在庆祝中国共产党成立九十五周年大会上的讲话》（2016年7月1日），人民出版社单行本，第27页</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">二、为实现中华民族伟大复兴的中国梦而奋斗是中国青年运动的时代主题</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　青年最富有朝气、最富有梦想。近代以来，我国青年不懈追求的美好梦想，始终与振兴中华的历史进程紧密相连。在革命战争年代，广大青年满怀革命理想，为争取民族独立、人民解放冲锋陷阵、抛洒热血。在社会主义革命和建设时期，广大青年响应党的号召，向困难进军，向荒原进军，保卫祖国，建设祖国，在新中国的广阔天地忘我劳动、艰苦创业。在改革开放历史新时期，广大青年发出团结起来、振兴中华的时代强音，为祖国繁荣富强开拓奋进、锐意创新。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《在同各界优秀青年代表座谈时的讲话》（2013年5 月4日），《十八大以来重要文献选编》（上），中央文献出版社2014年版，第277页</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">三、引导青少年树立和践行社会主义核心价值观</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　每个时代都有每个时代的精神，每个时代都有每个时代的价值观念。国有四维，礼义廉耻，“四维不张，国乃灭亡”。这是中国先人对当时核心价值观的认识。在当代中国，我们的民族、我们的国家应该坚守什么样的核心价值观？这个问题，是一个理论问题，也是一个实践问题。经过反复征求意见，综合各方面认识，我们提出要倡导富强、民主、文明、和谐，倡导自由、平等、公正、法治，倡导爱国、敬业、诚信、友善，积极培育和践行社会主义核心价值观。富强、民主、文明、和谐是国家层面的价值要求，自由、平等、公正、法治是社会层面的价值要求，爱国、敬业、诚信、友善是公民层面的价值要求。这个概括，实际上回答了我们要建设什么样的国家、建设什么样的社会、培育什么样的公民的重大问题。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《青年要自觉践行社会主义核心价值观》（2014年5月4日），《十八大以来重要文献选编》（中），中央文献出版社2016年版，第3页</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">四、勇做走在时代前列的奋进者、开拓者、奉献者</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　青年时期是培养和训练科学思维方法和思维能力的关键时期，无论在学校还是在社会，都要把学习同思考、观察同思考、实践同思考紧密结合起来，保持对新事物的敏锐，学会用正确的立场观点方法分析问题，善于把握历史和时代的发展方向，善于把握社会生活的主流和支流、现象和本质。要充分发挥青年的创造精神，勇于开拓实践，勇于探索真理。养成了历史思维、辩证思维、系统思维、创新思维的习惯，终身受用。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——在中国政法大学考察时的讲话（2017年5月3日），《人民日报》2017年5月4日</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">五、共青团要紧紧围绕党和国家工作大局找准工作切入点、结合点、着力点</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　青年身上蕴藏着巨大的创造能量和活力。要充分认识青年的这种特质，适应这种特质去拓展工作，否则就会落后于青年。一方面，团的工作要注意为青年成长成才创造条件，把蕴藏在青年身上的创造能量和活力激发出来，使青年人人都能成才、人人皆可出彩。团组织帮助他们成才了，他们也就会心向团组织。另一方面，团组织要善于关爱人才、发现人才，加强对社会各方面青年的工作，特别是要加强对一些有才华、有能力、有创意的青年的工作。因为这些青年在青年群体中影响大、有号召力，把他们的工作做好了，就可以对做青年工作产生事半功倍的效果。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《在同团中央新一届领导班子集体谈话时的讲话》（2013年6月20日）</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">六、团的干部必须心系青年、心向青年</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　 团的干部，必须心系广大青年。共青团是为党做青年群众工作的组织，团的干部是做青年工作的，必须心系青年、心向青年。做团的工作必须牢记，任何时候都不能脱离青年，必须密切联系青年。如果不能深入广大青年，自说自话，自拉自唱，工作是很难做好的。团干部要深深植根青年、充分依靠青年、一切为了青年，努力增强党对青年的凝聚力和青年对党的向心力。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《在同团中央新一届领导班子集体谈话时的讲话》（2013年6月20日）</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">七、今天做祖国的好儿童，明天做祖国的建设者</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　 要从小学习立志。志向是人生的航标。一个人要做出一番成就，就要有自己的志向。一个人可以有很多志向，但人生最重要的志向应该同祖国和人民联系在一起，这是人们各种具体志向的底盘，也是人生的脊梁。你们要注意培养追求真理、报效祖国的志向，爱祖国、爱人民、爱劳动、爱科学、爱社会主义，时刻把祖国和人民放在心中，从小听党的话、跟着党走，努力做祖国和人民需要的好孩子，做祖国和人民事业发展的接班人。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——在会见中国少年先锋队第七次全国代表大会代表时的讲话（2015年6月1日 ），《人民日报》2015年6月2日</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
        <div class="p1_c clearfix">
            <b>
                <font size="4">八、加强党对青少年和共青团工作的领导</font>
            </b>
            <span style="font-size: 12px;">&nbsp;</span>
            <div>
                <span style="font-size: 12px;">
                    <br>
                </span>
                <div style="font-size: 12px;">　　 青年兴则国家兴，青年强则国家强。我们党自成立之日起，就始终代表广大青年、赢得广大青年、依靠广大青年。各级党委和政府要充分信任青年、热情关心青年、严格要求青年，为青年驰骋思想打开更浩瀚的天空，为青年实践创新搭建更广阔的舞台，为青年塑造人生提供更丰富的机会，为青年建功立业创造更有利的条件。各级领导干部要关注青年愿望、帮助青年发展、支持青年创业，做青年朋友的知心人，做青年工作的热心人。

                </div>
                <div style="text-align: right; font-size: 12px;">&nbsp;——《在同各界优秀青年代表座谈时的讲话》（2013年5月4日），《十八大以来重要文献选编》（上），中央文献出版社2014年版，第281-282页</div>
            </div>
            </p>
            <p class="tr">
                <a href="">阅读全部</a>
            </p>
        </div>
    </div>
    <!--p2 content-->
    <script type="text/JavaScript">
        $(document).ready(function(){ $(".jCarouselLite").jCarouselLite({ btnNext: ".prev", btnPrev: ".next", visible:6, speed: 1000,
        auto: 2000 }); });
    </script>
    <div class="p2_content clearfix">
        <h3>最新连载</h3>
        <img src="left_b.jpg" class="fl prev" alt="" border="0" />
        <div class="jCarouselLite">
            <ul>
                <li>
                    <a href="">
                        <img src="MAIN201802220853049915932762124.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201803071428127102584618963.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201803071426009093203865060.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201801171626470820692586056.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201706150916433987339156419.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201701251001118337144872582.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071023051417154577090.png" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071023589394847479957.png" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071025019016082911849.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071026088408950422560.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201412261108006121527047413.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071027507991478632966.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071031508568382744048.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201412020839324796931731447.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
              
                <li>
                    <a href="">
                        <img src="MAIN201612071037318861115633244.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201412020839323126692884183.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201409230851538436164243443.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201408280931130187044767881.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201612071041361551091181912.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201409230851535105864105842.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201409230851536675329237576.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201409161520233298981509740.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201408280931131726010337275.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201408280932461496125400681.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201408280933557704211485444.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
                <li>
                    <a href="">
                        <img src="MAIN201408280934194956945024387.jpg" width="104" height="149" alt="" />
                    </a>&nbsp;</li>
            </ul>
        </div>
        <img src="right_b.jpg" class="fr next" alt="" border="0" />
    </div>
    
</body>

</html>