.time {
    font-size: 13px;
    color: #999;
}

.image {
    width: 100%;
    display: block;
}

.bottom {
    /*margin-top: 13px;
    line-height: 12px;*/
}

.box-card {
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    transition: transform 0.2s, box-shadow 0.3s;
}

.box-card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.el-main,
.el-header {
    padding: 0;
}

.el-main {
    padding: 0 20px;
}

.el-main>div[role='mainDis'] {
    padding-bottom: 20px;
}

.el-main>div[role='mainDis']+.el-row {
    background-color: #fff;
    box-shadow: rgb(221, 221, 221) 0px 0px 25px 3px inset;
    padding: 15px;
    margin-bottom: 20px;
}

/**页面预览**/

.page-thumb {
    transform: scale(0.36);
}

.editTp {
    width: 90%;
}

.previewPic {
    width: 150px;
    height: 200px;
}

.time {
    font-size: 13px;
    color: #999;
}

.title {
    font-size: 14px;
    font-weight: bolder;
}

.image {
    display: block;
    margin: 0 auto;
    height: 170px;
    width: auto;
    max-width: 100%;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.passage-conver {
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 255px;
    transition: transform 0.2s, box-shadow 0.3s;
}

.el-card__body {
    position: relative;
}

.passage-conver:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.passage-conver .background-img {
    height: 255px;
    background-size: 100% 100%;
    position: absolute;
    width: 205px;
    background-color: #ebeef5;
}

.video-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
    top: -165px;
}

.video-icon:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 15px solid transparent;
    border-left-color: rgba(255, 255, 255, 1);
}

.audio-icon {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 60px auto;
    background-image: url(../../img/timg.png);
    background-size: contain;
}

.passage-conver .background-img .image {
    /*width: 100%;
    height: 100%;*/
    max-width: 75%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.passage-conver .control {
    padding: 15px 0px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    /*background: hsla(0, 0%, 100%, 0.90);*/
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    /*border-top: solid 1px rgba(255, 255, 255);*/
    width: 200px;
}

.image-card .control {
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
}

.image-card .title {
    word-wrap: break-word;
    word-break: normal;
}

.image-card .descript {
    padding: 0 5px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #fff;
    word-wrap: break-word;
    word-break: normal;
    line-height: 20px;
}

.el-upload-list__item-name [class^=el-icon] {
    height: auto;
}

.resourceView .el-dialog__body {
    padding: 0px;
    background-color: #fafafa;
    text-align: center;
}

.resourceView .imageView {
    max-width: 100%;
    height: auto;
}

.resourceView .audioView {
    width: 100%;
    margin: 10px 0;
}

.resourceView .videoView {
    max-width: 100%;
    height: auto;
}

.templateView .el-dialog__body {
    padding: 30px 20px;
    background-color: #fafafa;
}

.submitReport .el-dialog__body {
    padding: 10px 20px 30px 20px;
}

.verify-status {
    position: absolute;
    right: 5;
    top: 5;
    z-index: 10;
}

.not-verify,
.not-pass,
.pass {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
}

.not-verify {
    background: url(/assets/icons/not-verify.png) no-repeat;
    background-size: cover;
}

.not-pass {
    background: url(/assets/icons/not-pass.png) no-repeat;
    background-size: cover;
}

.pass {
    background: url(/assets/icons/pass.png) no-repeat;
    background-size: cover;
}

.control-button {
    margin-top: 10px;
}

.store-status {
    width: 250px;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.store-status .label-txt {
    margin-left: 10px;
    margin-bottom: 5px;
}

.next-dirs{
    padding:10px;
    overflow:hidden;
}
.next-dirs .dirs{
    width:100px;
    height:100px;
    background-image:url(/assets/icons/folder.png);
    float:left;
    line-height: 130px;
    text-align: center;
    color: #fff;
    cursor:pointer;
    margin-left:10px;
    margin-top: 0;
    padding: 5px;
}
.next-dirs .dirs:hover{
    transition: transform 0.2s;
    transform: translateY(-3px)
}
.next-dirs .dirs  .title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;   
}
.next-dirs .dirs:hover .title{
   color:#c9ebff; 
   transition: transform 0.3s;
    transform: rotate(360deg);
}
