#terminalDisplay {
    padding: 10px;
}

.termialDis {
    padding: 0px;
    width: 260px;
    margin: 15px;
    text-align: center;
    float: left;
    transition: transform 0.2s,box-shadow 0.3s;
}

.termialDis:hover {
   box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    transform:translateY(-5px);
}

.termialDis>div>.screenshoot,
.termialDis-table>td>.screenshoot,
.termialDis>div>.screenshoot-h,
.termialDis>div>.screenshoot-v {
    height: 170px;
    background: url(/assets/img/no-program.png) center center no-repeat #fff;
    max-width: 258px;
    border: solid 1px #eee;
    margin: 0 auto;
}

.termialDis-table>td>.screenshoot>img,
.termialDis>div>.screenshoot>img {
    height: 100%;
    width: 100%;
}

/**竖屏 高度100% 宽度自适应**/

.termialDis>div>.screenshoot-v>img {
    height: 100%;
    width: auto;
}

.termialDis>div>.screenshoot-h>img {
    width: 100%;
    height: 100%;
}

/**terminal table 展示**/

.terminal-table-dis>tbody>.offline,
.termialDis-offline {
    background-color: #c0c4cc;
}

.terminal-table-dis>tbody>tr>td>.screenshoot-h,
.terminal-table-dis>tbody>tr>td>.screenshoot-v,
.terminal-table-dis>tbody>tr>td>.screenshoot {
    height: 150px;
    width: 250px;
    background: url(/assets/img/no-program.png) center center no-repeat #fff;
    border: solid 1px #eee;
    text-align: center;
    margin: auto 0;
}

.terminal-table-dis>tbody>tr>td>.screenshoot-h>.image {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.terminal-table-dis>tbody>tr>td>.screenshoot-v>.image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.offline>div>.screenshoot {
    height: 150px;
    background: url(/assets/img/offline.png) center center no-repeat #fff;
}

.termialDis>div>div>.ratio {
    position: relative;
    top: -19px;
    background-color: #ddd;
    background: linear-gradient(white, #ccc);
}

.termialDis>div>.control {
    padding: 10px;
    text-align: left;
}

.termialDis>div>.deviceInfo {
    text-align: left;
    padding: 10px;
}

.termialDis>div>.deviceInfo>.name {
    font-weight: bolder;
}

.termialDis>div>.deviceInfo>.size {
    float: right;
}

.termialDis>div>.control>.bottom {
    margin-top: 10px;
    text-align: center;
}

.t-title {
    cursor: auto !important;
    opacity: 1 !important;
}

.online-icon {
    background: green;
    color: green !important;
}

.offline-icon {
    background: #ddd;
    color: #ddd !important;
}

.pagebar {
    margin-top: 15px;
}

.command-list {
    overflow: auto;
    margin-bottom: 100px;
}

.command-list>.action {
    display: inline-block;
    position: relative;
    margin: 6px 6px 3px;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    color: #999;
    text-align: center;
    cursor: pointer;
    float: left;
    border: solid 1px #ddd;
    text-decoration: none;
    background-color: #eee;
}

.command-list>.action>i {
    font-size: 55px;
    color: orange;
    margin-top: 5px;
}

.command-list>.active {
    background-color: #337ab7;
    color: white;
}

.command-list>.active>i {
    color: white;
}

.terminal-disInfo-big {}

.disInfo,
.terminal-disInfo-big {
    width: 100%;
}

.disInfo>tbody>tr>td,
.terminal-disInfo-big>tbody>tr>td {
    font-size: 14px;
}

.disInfo>tbody>tr>td:nth-child(1),
.terminal-disInfo-big>tbody>tr>td:nth-child(1) {
    max-width: 100px;
    width: 30%;
}

.disInfo>tbody>tr>td:nth-child(2) {
    font-weight: bolder;
    width: 5px;
    text-align: center;
}

.terminal-disInfo-big>tbody>tr>td:nth-child(2) {
    padding: 3px 5px;
}

.bottom-h>button {
    margin-top: 10px;
}

.el-dialog__body {
    overflow: auto;
    padding: 0 15px 15px 15px;
}

.el-menu-item i {
    color: auto;
}

.el-button--primary>i {
    color: white;
}

.disInfo-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
    overflow: hidden;
    margin: 0;
}