<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b3cjGm4GiaI1GzcYKjil0fyrP7qHL9eL"></script>

    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.3.4/index.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.js"></script>
    
   	<link rel="import" href="/html/include/vb.html">
    <link rel="import" href="/html/include/fc.html">
    <link rel="import" href="/html/include/vc.html">
    <link rel="import" href="/html/include/db.html">
 
    <title>已注册组件</title>
    <style>
        #compont-info {
            padding: 15px 30px;
            background-color: #f5f7fa;
        }

        #app {
            margin: 0 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-menu class="menu-fixed" default-active="1" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b"
            @select="handleSelect">
            <el-menu-item index="1">
                已注册组件
            </el-menu-item>
            <el-menu-item index="2">
                注册组件方法
            </el-menu-item>
        </el-menu>
        <div id="content" v-show="showIdx == 1">
            <a name="registed"></a>
            <div></div>
            <h1>已注册组件</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>组件名</th>
                        <th>作者</th>
                        <th>描述</th>
                        <th>组件模版地址</th>
                        <th>查看</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for=" c in comps">
                        <td>{{c.info.name}}</td>
                        <td>{{c.info.author}}</td>
                        <td>{{c.info.descript}}</td>
                        <td>{{c.info.template_url}}</td>
                        <td>
                            <el-button type="text"   @click="disComp(c)">显示</el-button>
                            <el-button type="text"><a :href="'router.html#/'+c.info.name" target="_blank">新页面显示</a> </el-button>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="compont-info">
                <h2>组件展示</h2>
                <div id="component-display">
                    <keep-alive>
                        <component v-bind:is="which_to_show"></component>
                    </keep-alive>
                </div>
            </div>
        </div>
        <div id="content" v-show="showIdx == 2">
            <a name="regist"></a>
            <div></div>
            <h1>Vue component 使用简介</h1>
            <p>在使用Vue进行开发时,可以将小功能模块拆分成独立的component定义,降低耦合.</p>
            <h2>定义</h2>
            <p>定义component组成分为3个部分 </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>部分</th>
                        <th>命名方式</th>
                        <th>例子</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>js控制</td>
                        <td>模块名.main.js</td>
                        <td>message-notice.main.js</td>
                    </tr>
                    <tr>
                        <td>html模版</td>
                        <td>模块名.view.html</td>
                        <td>message-notice.view.html</td>
                    </tr>
                    <tr>
                        <td>css样式</td>
                        <td>模块名.css</td>
                        <td>message-notice.css</td>
                    </tr>
                </tbody>
            </table>
            <h3>js控制</h3>
            <p>js控制部分创建部分和普通Vue并没有多大差别,不过需要定义info属性 </p>
            <p>
                <code>info.name</code> 组件自动注册的组件名,
                <p class="text-warning">注意: 此属性不能和其他组件名重名</p>
            </p>
            <p>
                <code>info.template_url</code> 组件包含的html模版地址</p>
            <p>
                <code>info.author</code> 作者</p>
            <p>
                <code>info.descript</code> 组件描述信息</p>

            <p>例子:</p>
            <pre>
var MessageNotice = {
    info:{
        name:'message-notice',//注册组件名
        template_url: '/components/common/message-notice.view.html1', //模块 页面模板 url
        author:'Wangch',
        descript:'通知信息组件'
    },
    props: [],
    data: function () {
        return {}
    },
    mounted() {},
    watch: {},
    computed: {},
    methods: {},
    template: null
};
export default MessageNotice;
</pre>

            <h3>html模版</h3>
            <p>组件 使用的模版</p>
            <p>例子:</p>
            <pre>
&lt;div&gt;
   &lt;h1&gt;模版内容&lt;/h1&gt;
&lt;/div&gt;
</pre>
            <h3>css样式</h3>
            <p>组件所用到的样式定义文件,可直接包含在 模版html文件中,也可以单独引入</p>


            <h2>注册</h2>
            <p>模版需要注册后才能使用</p>
            <h3>全局注册</h3>
            <p>全局注册 是将 开发好的模块信息 添加到/components/main.js 中,程序会自动将模块全局注册</p>
            <p>例子:</p>
            <pre>
//1. 引入定义的组件
import MessageNotice from '/components/common/message-notice.main.js';

//2. 将要自动注册的组件放在此数组中
export const comps = [MessageNotice];
</pre>
            <h3>局部注册</h3>
            <p>首先: 引入要注册的组件</p>
            <pre>
import MessageNotice from '/components/common/message-notice.main.js';   
</pre>
            <p>使用如下方式异步注册方式注册</p>
            <pre>
var ins = new Vue({
   el: '#app',
   data: {},
   methods: {},
   conponents:{
       'test':(resolve,reject)=>require_comp(resolve,reject,MessageNotice)
   }
});
</pre>

            <h3>注意事项</h3>
            <p>定义 Vue实例的script 标签必须声明type 为module, 否则会出错</p>
            <pre>
&lt;script type="module">...&lt;/script>
</pre>
        </div>
    </div>
</body>

<script type="module">
    import {comps,init_components} from '/components/main.js'; 
    var components = init_components(); 
    var ins = new Vue({
		el: '#app',
		data: {
			comps: comps,
			which_to_show: '',
			showIdx: '1'
		},
		methods: {
			disComp(comp) {
				this.which_to_show = comp.info.name;
			},
			handleSelect() {
				let idx = arguments[0];
				this.showIdx
					 = idx;
			}
		},
		components: components
	});

</script>

</html>