<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <base href=".">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b3cjGm4GiaI1GzcYKjil0fyrP7qHL9eL"></script>

    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.3.4/index.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.js"></script>

    <link rel="import" href="/html/include/vb.html">
    <link rel="import" href="/html/include/fc.html">
    <link rel="import" href="/html/include/vc.html">
    <link rel="import" href="/html/include/db.html">
    <link rel="import" href="/html/include/ue.html">

    <script type="text/javascript" charset="utf-8" src="/assets/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/ueditor/ueditor.all.js">
    </script>
    <script type="text/javascript" charset="utf-8" src="/assets/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="module" src="/components/main.js"></script>
    <!--webpack动态替换-->
    <script src="/main.js"></script>
    
    <title>组件 路由展示</title>
    <style>
        #component-display {
            padding: 15px 30px;
            background-color: #f5f7fa;
        }

        #app {
            margin: 10px 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-menu class="el-menu-demo" mode="horizontal">
            <template v-for="(comp,index) in componentInfos">
                <el-menu-item :index="''+index" @click="menu_click(comp)">
                    {{comp.name}}
                </el-menu-item>
            </template>
        </el-menu>

        <div id="component-display">
            <component :is="componentId"></component>
        </div>

    </div>
</body>

<script type="module">
    window.ins = new Vue({
        el: '#app',
        data: {
            componentId:'',
            componentInfos: window.componentInfos
        },
        mounted(){
            this.componentId = this.getCompName();
        },
        computed:{
            baseUrl(){
                return window.location.href.split('#/')[0];
            }
        },
        methods: {
            menu_click(r) {
                console.log('change',r);
                this.componentId = r.name;
                this.setUrl(this.componentId);
            },
            setUrl(name){
                let url = this.baseUrl +'#/'+ name;
                window.location.href = url;
            },
            getCompName(){
                let ay = window.location.href.split('#/');
                if(ay.length >=2 ){
                    return ay[1];
                }else{
                    return '';
                }
            }
        }
    });
</script>

</html>