<div>
    <h3>本月节日</h3>
    <table class="table">
        <thead>
            <tr>
                <th>时间</th>
                <th>节日</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018-06-01</td>
                <td>六一儿童节</td>
                <td>国际六一儿童节</td>
            </tr>
            <tr>
                <td>2018-06-05</td>
                <td>世界环境日</td>
                <td>世界环境日</td>
            </tr>
            <tr>
                <td>2018-06-06</td>
                <td>全国爱眼日</td>
                <td>全国爱眼日</td>
            </tr>
            <tr>
                <td>2018-07-01</td>
                <td>七一建党节</td>
                <td>七一建党节</td>
            </tr>
        </tbody>
    </table>
</div>