/**vue-calendar 样式**/

@import url("/components/vue-calendar/vue-calendar.css");
@import url("/assets/module/template/template.css");
@import url("/components/common/context-menu.css");
/**start of 卡片布局容器 **/

.card-item {
	padding: 0px;
	padding-top: 10px;
	height: 200px;
	width: 340px!important;
	margin: 15px;
	text-align: center;
	float: left;
	padding-left: 20px;
	box-sizing:border-box;
	transition: transform 0.2s,box-shadow 0.3s;
	border-radius: 6px;
}
.card-item1{
	background: url(../img/4.png) no-repeat;
	background-size: cover;
}
.card-item2{
	background: url(../img/5.png) no-repeat;
	background-size: cover;
}
.card-item3{
	background: url(../img/6.png) no-repeat;
	background-size: cover;
}
.card-item4{
	background: url(../img/7.png) no-repeat;
	background-size: cover;
}
.card-item-program{
    width: 326px!important;
    height: 368px!important;
    background: #f6f6f6;
    padding: 0 10px;
}
.el-card.is-always-shadow{
	/*box-shadow: none;*/
}

/**鼠标交互**/

.card-item:hover {
	box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    transform:translateY(-5px);
}

/**卡片标题**/

.card-item .title {
	text-align: left;
	padding: 10px;
}

.card-item .title .bolder {
	font-weight: bolder;
}

.card-item .title .right {
	float: right;
	/*font-weight: normal!important;*/
}

/**卡片预览图**/

.card-item .cover-image-container {
	width: 100%;
	height: 170px;
	border: solid 1px #ddd;
}

/**横屏,默认 图片显示方式**/

.card-item .cover-image-container .image,
.card-item .cover-image-container .image-h {
	height: 100%;
	width: 100%;
}

/**竖屏图片**/

.card-item .cover-image-container .image-v {
	height: 100%;
	width: auto;
}
.card-item  .cover-image-container{
	position: relative;
}

.card-item .cover-image-container .descript {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px 0;
	background-color: #ddd;
	background: rgba(0,0,0,.4);
	color: #fff;
	font-size: 12px;
}

/**主题内容**/

.card-item .content {
	padding: 10px;
	text-align: left;
}

/**底部工具条**/

.card-item .bottom {
	text-align: center;
	margin: 0 10px 10px;
}

/**end of 卡片布局容器 **/

/**小表格展示数据**/

.dis-info-min {
	width: 100%;
}

.dis-info-min>tbody>tr>td:nth-child(1) {
	max-width: 100px;
	width: 30%;
}


.dis-info-min>tbody>tr>td:nth-child(2) {
	font-weight: bolder;
	width: 5px;
	text-align: center;
}

.dis-info-min>tbody>tr>td {
	font-size: 14px;
}
.dis-info-min>tbody>tr>td>i{
	margin-right: 8px;
	font-weight: bold;
}

/**大表格展示数据**/

.dis-info-big {
	width: 100%;
}

.dis-info-big>tbody>tr>td:nth-child(1) {
	max-width: 100px;
	width: 30%;
	font-weight: bold;
}

.dis-info-big>tbody>tr>td:nth-child(2) {
	font-weight: bolder;
	width: 5px;
	text-align: center;
}

.dis-info-big>tbody>tr>td {
	font-size: 14px;
	padding: 5px;
}

.nav-menu {
	margin-top: -5px;
}

.normal-menu-item {
	cursor: auto !important;
	opacity: 1 !important;
}

.normal-menu-item>.el-pagination {
	margin-top: 15px;
}

/**水平卡片**/

.card-item-vertical {
	width: 340px !important;
	height: 200px !important;
}

/**垂直卡片**/

.card-item-horizontal {

}

.el-dialog__footer > .foot-button-container{
	text-align: center; margin-top: 30px;
}
/*icon颜色*/
.card-item .el-icon-star-on{
	color:#e81313;
}
.card-item .el-icon-setting{
    color: cornflowerblue;
}
.card-item .el-icon-message{
	color: brown;
}
.card-item .el-icon-time{
    color: darkseagreen;
}
.card-item .el-icon-news{
    color: orange;
}
.card-item .el-icon-date.date-start{
	color:#17bdda;
}
.card-item .el-icon-date.date-finish{
	color:#c70000;
}
.card-item .el-icon-upload{
	color: #00abff;
}
.card-item .el-tag--small{
	font-weight: normal!important;
    color: #7b7b7b;
    background: #fff;
}
.card-item .el-button--text:focus, .card-item .el-button--text:hover{
    font-weight: bold;
}
.card-item .el-icon-warning{
	color:#a181ff;
}
.card-item .el-icon-edit-outline{
	color:#5ac781;
}
.card-item .el-icon-document{
	color:#fd863e;
}
.card-item .el-icon-tickets{
	color:#9cb1ff;
}
.card-item .el-dropdown-link{
	color:#00d439
}
.card-item .el-dropdown-link:hover{
	font-weight: bold;
    color: #809aff;
}
.card-item .el-icon-date{
	color:#ff9266;
}
.el-step.is-horizontal .el-step__main .el-step__title{
	font-size: 12px;
}
.el-popover{
	width: 250px;
}
/*right-start*/
.right-start{
	background-color: rgba(0,0,0,.5);
	color:#fff;
}
.right-start-icon{
	font-weight: bold;
	font-size: 13px;
}
.right-start-icon i{
	font-weight: bold;
}