<section class="wh_container">
    <div class="wh_content_all">
        <div class="wh_top_changge">
            <li @click="PreMonth(myDate,false)">
                <div class="wh_jiantou1"></div>
            </li>
            <li class="wh_content_li">{{dateTop}}</li>
            <li @click="NextMonth(myDate,false)">
                <div class="wh_jiantou2"></div>
            </li>
        </div>
        <div class="wh_content">
            <div class="wh_content_item" v-for="tag in textTop">
                <div class="wh_top_tag">
                    {{tag}}
                </div>
            </div>
        </div>
        <div class="wh_content">
            <div class="wh_content_item" v-for="(item,index) in list" @click="clickDay(item,index)">
                <div class="wh_item_date" v-bind:class="[{ wh_isMark: item.isMark},{wh_other_dayhide:item.otherMonth!=='nowMonth'},{wh_want_dayhide:item.dayHide},{wh_isToday:item.isToday},{wh_chose_day:item.chooseDay},setClass(item)]">
                    {{item.id}}
                    <span class="spoit"></span>
                </div>
            </div>
        </div>
    </div>
</section>