<!DOCTYPE html PUBLIC-//W3C//DTD XHTML 1.0 Transitional//EN"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Language" content="utf-8" />
<title>党史百科</title>
<!-- 调用样式表 -->
<link rel="stylesheet"  href="page.css" type="text/css" media="all"  />
</head>

<body>
  <!--top-->
  <div class="top01 clear w980">
  </div>
  <div class="nav01 clear w980">
  </div>
  <div class="top02 clear w980">
    <img src="top01.jpg" width="488" height="167" />
    <img src="top02.jpg" width="492" height="167" />
  </div>


  <div class="clearfix p1_content">
    <div>
    <h2>1950—1978</h2>
    <ul><li><a href=''>中共八大</a></li>
  <li><a href=''>反右 </a></li>
  <li><a href=''>“大跃进”</a></li>
  <li><a href=''>庐山会议 </a></li>
  <li><a href=''>四个现代化</a></li>
  <li><a href=''>“文化大革命”</a></li>
  <li><a href=''>中共九大</a></li>
  <li><a href=''>九一三事件</a></li>
  <li><a href=''>中共十大</a></li>
  <li><a href=''>天安门事件</a></li>
  <li><a href=''>中共十一大</a></li>
  <li><a href=''>平反冤假错案</a></li>
  <li><a href=''>拨乱反正</a></li>
  <li><a href=''>真理标准问题大讨论</a></li>
  <li><a href=''>中共十一届三中全会</a></li>
  </ul>
    
    </div>
    <div class="fl">
    <h2>1979—1989</h2>
    <ul><li><a href=''>四项基本原则</a></li>
  <li><a href=''>《关于党内政治生活的若干准则》</a></li>
  <li><a href=''>《关于建国以来党的若干历史问题的决议》</a></li>
  <li><a href=''>中共十二大</a></li>
  <li><a href=''>废除领导干部职务终身制</a></li>
  <li><a href=''>中共十三大</a></li>
  </ul>
    <h2>1990—1999</h2>
    <ul><li><a href=''>邓小平南方谈话</a></li>
  <li><a href=''>中共十四大</a></li>
  <li><a href=''>社会主义市场经济体制</a></li>
  <li><a href=''>邓小平病逝</a></li>
  <li><a href=''>依法治国</a></li>
  <li><a href=''>中共十五大</a></li>
  </ul>
    </div>
<div>
  <span>
    <a href="index.html" >1</a>
    <a href="index-1.html">2</a>
    <a href="index-2.html" class="onpage">3</a>
    <a href="index-3.html">4</a>
  </span>
</div>
  </div>
  <div class="line w980 clear"></div>
  <style type="text/css">
    #copyright {
      width: 980px;
      margin: 0px auto;
      font-size: 12px;
      text-align: center;
      padding: 20px 0;
      line-height: 180%;
      clear: both;
    }
  </style>
</body>
</html>

