<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Language" content="utf-8" />
<title>党史百科</title>
<!-- 调用样式表 -->
<link rel="stylesheet"  href="page.css" type="text/css" media="all"  />
</head>

<body>
  <!--top-->
  
  <div class="top02 clear w980">
    <img src="top01.jpg" width="488" height="167" />
    <img src="top02.jpg" width="492" height="167" />
  </div>

  <div class="clearfix p1_content">
    <div>
      <h2>1921-1949</h2>
      <ul>
        <li>
          <a href='' >中国共产党诞生和中共一大</a>
        </li>
        <li>
          <a href='' >中共二大</a>
        </li>
        <li>
          <a href='' >安源路矿工人大罢工</a>
        </li>
        <li>
          <a href='' >京汉铁路工人大罢工</a>
        </li>
        <li>
          <a href='' >中共三大</a>
        </li>
        <li>
          <a href='' >国民党一大与第一次国共合作</a>
        </li>
        <li>
          <a href='' >黄埔军校</a>
        </li>
        <li>
          <a href='' >中共四大</a>
        </li>
        <li>
          <a href='' >五卅运动</a>
        </li>
        <li>
          <a href='' >三一八惨案</a>
        </li>
        <li>
          <a href='' >中共五大</a>
        </li>
        <li>
          <a href='' >南昌起义</a>
        </li>
        <li>
          <a href='' >八七会议</a>
        </li>
        <li>
          <a href='' >秋收起义</a>
        </li>
        <li>
          <a href='' >广州起义</a>
        </li>
        <li>
          <a href='' >中共六大</a>
        </li>
        <li>
          <a href='' >土地革命</a>
        </li>
      </ul>
    </div>
    <div class="fl">
      <h2>1921-1949</h2>
      <ul>
        <li>
          <a href='' >中央革命根据地</a>
        </li>
        <li>
          <a href='' >古田会议</a>
        </li>
        <li>
          <a href='' >“围剿”与反“围剿”</a>
        </li>
        <li>
          <a href='' >中共六届四中全会</a>
        </li>
        <li>
          <a href='' >肃反扩大化</a>
        </li>
        <li>
          <a href='' >中华苏维埃共和国</a>
        </li>
        <li>
          <a href='' >宁都起义</a>
        </li>
        <li>
          <a href='' >长征</a>
        </li>
        <li>
          <a href='' >遵义会议</a>
        </li>
        <li>
          <a href='' >一二·九运动</a>
        </li>
        <li>
          <a href='' >瓦窑堡会议</a>
        </li>
        <li>
          <a href='' >东北抗日联军</a>
        </li>
        <li>
          <a href='' >西路军</a>
        </li>
        <li>
          <a href='' >西安事变</a>
        </li>
        <li>
          <a href='' >第二次国共合作</a>
        </li>
      </ul>

    </div>
    <div>
      <span>
        <a href="index.html" class="onpage">1</a>
        <a href="index-1.html">2</a>
        <a href="index-2.html">3</a>
        <a href="index-3.html">4</a>
      </span>
    </div>
  </div>
  <div class="line w980 clear"></div>
  <style type="text/css">
    #copyright {
      width: 980px;
      margin: 0px auto;
      font-size: 12px;
      text-align: center;
      padding: 20px 0;
      line-height: 180%;
      clear: both;
    }
  </style>
</body>
</html>
