<!DOCTYPE html PUBLIC-//W3C//DTD XHTML 1.0 Transitional//EN"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Language" content="utf-8" />
<title>党史百科</title>
<!-- 调用样式表 -->
<link rel="stylesheet"  href="page.css" type="text/css" media="all"  />
</head>

<body>
  <!--top-->
  <div class="top01 clear w980">
  </div>
  <div class="nav01 clear w980">
  </div>
  <div class="top02 clear w980">
    <img src="top01.jpg" width="488" height="167" />
    <img src="top02.jpg" width="492" height="167" />
  </div>

  <div class="clearfix p1_content">
    <div>
    <h2>1921-1949</h2>
    <ul><li><a href=''>七七事变</a></li>
  <li><a href=''>洛川会议</a></li>
  <li><a href=''>平型关大捷</a></li>
  <li><a href=''>陕甘宁边区</a></li>
  <li><a href=''>大生产运动</a></li>
  <li><a href=''>“三三制”</a></li>
  <li><a href=''>百团大战</a></li>
  <li><a href=''>皖南事变（第二次反共高潮）</a></li>
  <li><a href=''>延安整风</a></li>
  <li><a href=''>延安文艺座谈会</a></li>
  <li><a href=''>中共七大</a></li>
  <li><a href=''>抗日战争胜利</a></li>
  <li><a href=''>重庆谈判</a></li>
  <li><a href=''>土地改革运动</a></li>
  <li><a href=''>全面内战爆发</a></li>
  <li><a href=''>延安保卫战</a></li>
  <li><a href=''>三大战役</a></li>
  </ul>
    
    </div>
    <div class="fl">
    <h2>1921—1949</h2>
    <ul><li><a href=''>中共七届二中全会</a></li>
  <li><a href=''>中国人民政治协商会议 </a></li>
  <li><a href=''>开国大典</a></li>
  </ul>
    <h2>1950—1978</h2>
    <ul><li><a href=''>整风运动</a></li>
  <li><a href=''>土地改革</a></li>
  <li><a href=''>抗美援朝</a></li>
  <li><a href=''>镇压反革命</a></li>
  <li><a href=''>批判《武训传》</a></li>
  <li><a href=''>西藏和平解放</a></li>
  <li><a href=''>“三反”“五反”</a></li>
  <li><a href=''>公审刘青山、张子善</a></li>
  <li><a href=''>第一次全国人民代表大会与第一部宪法</a></li>
  </ul>
    </div>
<div>
  <span>
    <a href="index.html">1</a>
    <a href="index-1.html" class="onpage">2</a>
    <a href="index-2.html">3</a>
    <a href="index-3.html">4</a>
  </span>
</div>
  </div>
  <div class="line w980 clear"></div>
  <style type="text/css">
    #copyright {
      width: 980px;
      margin: 0px auto;
      font-size: 12px;
      text-align: center;
      padding: 20px 0;
      line-height: 180%;
      clear: both;
    }
  </style>
</body>
</html>

  
   